@font-face {
  font-family: Signika;
  src: url("./fonts/signika/Signika-Regular.otf");
}
@font-face {
  font-family: Signika;
  src: url("./fonts/signika/Signika-Semibold.otf");
  font-weight: 700;
}
@font-face {
  font-family: Signika;
  src: url("./fonts/signika/Signika-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: Signika;
  src: url("./fonts/signika/Signika-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-Semibold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-Bold.otf");
  font-weight: 900;
}
