// To have the footer always at the bottom
html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative; // Because of absolutely-positioning footer
}

[role="main"] {
  padding-bottom: $footer-height;
}

#content {
  padding-top: $header-height;
}

a.fa {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
