@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/gotham-rounded-medium.otf");
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/gotham-rounded-bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/gotham-rounded-light.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika-Regular.otf");
}
@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika-Semibold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika-Light.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Signika";
  src: url("../fonts/Signika-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Arial Black";
  src: url("../fonts/arial-black.ttf");
}

@font-face {
  font-family: "Arial Rounded MT";
  src: url("../fonts/Arial Rounded MT Regular.ttf");
}
@font-face {
  font-family: "Arial Rounded MT";
  src: url("../fonts/Arial Rounded MT Bold Regular.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Arial Rounded MT";
  src: url("../fonts/Arial Rounded MT Light.ttf");
  font-weight: 100;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.otf");
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Semibold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Light.otf");
    font-weight: 100;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Bold.otf");
    font-weight: 900;
}
