@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/gotham-rounded/gotham-rounded-medium.otf");
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/gotham-rounded/gotham-rounded-bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/gotham-rounded/gotham-rounded-light.otf");
  font-weight: 100;
}
