$sprite-url: '../images/sprite';

$action-color: rgb(38, 169, 224);  // #26A9E0
$background-body-color: rgb(255, 255, 255);  // #FFF
$secondary-action-color: rgb(247, 155, 96); // #F79B60
$primary-btn-color: rgb(84, 195, 143); // #54C38F
$grey-text-color: rgb(85, 105, 126);  // #55697E
$dark-grey-text-color: rgb(76, 83, 101);  // #4c5365
$darker-grey-text-color: rgb(42, 68, 94); // #2A445E
$light-grey: rgb(98, 143, 187);   // #628FBB
$lighter-grey: rgb(246, 247, 248); // #F6F7F8

$line-height-project: 1.75em;

$small-content-width: 320px;
$medium-content-width: $small-content-width * 2;
$large-content-width: $small-content-width * 3;

$spacer-unit-size: 14px;

$font-size-base-px: 14;
$font-size-base-em: 1em;
$font-size-small: 0.75em;

$medium-screen-ratio-s: 1.2;
$large-screen-ratio-s: 1.4;

$medium-screen-ratio-m: 1.3;
$large-screen-ratio-m: 1.6;

$medium-screen-ratio-l: 1.7;
$large-screen-ratio-l: 2.5;

$z-index-header: 10;

$form-control-height: 2.4em;

$default-animation-duration: 300ms;
