.sass-cache
.idea
*.log
bower_components
node_modules
/design/LiveYourDreamsBg.ai
/design/dark-bg.ai
/website/conf/application.conf
/website/conf/application-test.conf
/website/conf/application-prod.conf
/website/public
/document-web-service/conf/application.conf
/document-web-service/conf/application-test.conf
/document-web-service/conf/application-prod.conf
/document-web-service/public
/rater-ui/conf/application.conf
/rater-ui/conf/application-test.conf
/rater-ui/conf/application-prod.conf
/rater-ui/public
/dws-test-client/conf/application.conf
