@mixin grouped-icon {
  @include icon-font($fa-var-plus);
  position: absolute;
  margin: -8px 0 0 -5px;
}

$comment-id-and-points-width: 7%;
$green-comment-width: 27.5%;
$red-comment-width: 100% - $comment-id-and-points-width - $green-comment-width;

$white-section-padding: 2em 1em 1em;

#assessment {
  .with-circles {
    p {
      margin-bottom: 0;
    }

    @include medium-screen {
      font-size: 14px;
    }
    @include large-screen {
      font-size: 14px;
    }
  }

  #order-details {
    background-color: white;
    padding: 1.5em $spacer-unit-size;
    margin-bottom: 3em;

    @include medium-screen {
      display: flex;

      $first-section-width: 55%;
      $second-section-width: 25%;
      $third-section-width: 100% - $first-section-width - $second-section-width;

      > .first {
        width: $first-section-width;
      }

      > .second {
        width: $second-section-width;
      }

      > .third {
        width: $third-section-width;
        text-align: right;
      }
    }

    .customer-comment {
      margin: $content-element-margin-bottom 0;
    }

    .job-ad-link {
      display: inline-block;

      margin-top: $content-element-margin-bottom;
    }

    .order-tags {
      margin-bottom: $content-element-margin-bottom;
    }

    .time-left {
      margin-top: $content-element-margin-bottom;
    }
  }

  .nav.assessment {
    display: none;
    @include xl-screen {
      display: block;
    }
  }

  @include xl-screen {
    .nav-panel {
      position: fixed;
    }

    .nav-tabs {
      border: none;

      > li {
        float: none;

        /* stylelint-disable-next-line max-nesting-depth */
        > a {
          margin: 0;

          border: none;
          border-radius: 0;

          width: 100%;
        }
      }
    }
  }

  .tab-pane {
    > section {
      background-color: white;
      padding: $white-section-padding;
      margin-bottom: 3em;
    }

    h3 {
      margin-top: 0;
    }

    ul {
      margin-bottom: 0;
    }
  }

  $comment-paragraph-padding-top: 0.2em;

  .comment-paragraph {
    margin-bottom: 0;
    padding: $comment-paragraph-padding-top 0.4em;
    background-color: $gradient-light-grey;
  }

  .list-comment {
    margin-bottom: 1em;

    > .green,
    > .red {
      position: relative;
      cursor: pointer;

      > .comment-paragraph {
        height: 100%;

        @include transition(background-color $default-animation-duration/2 ease);
      }
    }

    > .red {
      position: relative;

      > .comment-paragraph {
        padding-bottom: 1.5em;
      }
    }

    > .green > .selected {
      background-color: $green-comment-bg;
    }
    > .red > .selected {
      background-color: $red-comment-bg;
    }

    &.read-only {
      > .green,
      > .red,
      button,
      .report-comment-checkbox {
        cursor: default;
      }
    }

    @include medium-screen {
      display: flex;

      > .id-and-points {
        width: $comment-id-and-points-width;
      }
      > .green {
        width: $green-comment-width;
      }
      > .red {
        width: $red-comment-width;
      }
    }

    .fa {
      position: absolute;
      bottom: 0;
      z-index: 1;
    }

    .fa-plus-circle {
      right: 2em;
    }

    .fa-undo {
      right: 0;
    }
  }

  .grouped {
    margin-top: -0.8em;

    > .green::before {
      @include grouped-icon;
    }

    @include medium-screen {
      > .green::before {
        content: "";
      }
      > .red::before {
        @include grouped-icon;
      }
    }
  }

  .id-and-points > p {
    text-align: center;

    &:first-child {
      padding-top: $comment-paragraph-padding-top;
    }
  }

  .overall-comment {
    height: 6em;
  }

  .report-category {
    background-color: white;
    padding: $white-section-padding;
    margin: 0 -1em $content-element-margin-bottom -1em;

    &.read-only {
      > a {
        display: none;
      }

      button {
        cursor: default;
      }

      .report-comment-checkbox {
        cursor: default;
      }
    }

    .btn.secondary {
      font-size: $font-size-sm;
    }
  }

  .report-comment {
    position: relative;
    margin-bottom: $content-element-margin-bottom;

    > .comment-paragraph {
      padding-right: 2.5em;
      min-height: 8em; // To have enough space for all buttons
    }

    > .fa,
    > .report-comment-checkbox {
      position: absolute;
      right: 0;
      top: 0;
    }

    > .fa-fw {
      width: 2.2em;
    }

    > .fa-arrows {
      cursor: move;
    }

    > .report-comment-checkbox {
      top: 2em;
    }

    > .fa-undo {
      top: 4em;
    }

    > .fa-trash {
      top: 6em;
    }
  }

  .report-comment-checkbox {
    display: inline-block;
    padding: 0.3em 0.5em 0;
    cursor: pointer;

    &::after {
      @include icon-font($fa-var-check-square-o);
      font-size: 1.2em;
      color: $well-border-color;
    }

    &.checked::after {
      color: $primary-btn-color;
    }
  }

  .well-done-comment-composer {
    margin-bottom: $content-element-margin-bottom;

    > textarea {
      height: 4em;
    }
  }

  .comment-composer {
    display: flex;

    > textarea {
      height: 3em;
    }
  }
}

.no-flexbox {
  #assessment {
    #order-details {
      @include medium-screen {
        display: block;
        @include clearfix;

        /* stylelint-disable-next-line max-nesting-depth */
        > section {
          float: left;
        }
      }
    }

    .list-comment {
      @include medium-screen {
        display: block;
        @include clearfix;

        /* stylelint-disable-next-line max-nesting-depth */
        > div {
          float: left;
        }
      }
    }

    .comment-composer {
      display: block;
      @include clearfix;

      > textarea {
        float: left;
        width: 95%;
      }

      > button {
        float: right;
        margin-top: 0.4em;
      }
    }
  }
}
