@mixin grouped-icon {
  @include icon-font($fa-var-plus);
  position: absolute;
  margin: -8px 0 0 -5px;
}

@mixin error-border {
  border-left: 0.2em solid $brand-danger;
  padding-left: 0.2em; // 0.4em by default
}

@mixin icon-btn-states {
  &:hover {
    color: $icon-btn-hover-color;
  }
  &:active {
    color: $icon-btn-active-color;
  }
}

$comment-id-and-points-width: 7%;
$green-comment-width: 27.5%;
$red-comment-width: 100% - $comment-id-and-points-width - $green-comment-width;

$white-section-padding: 2em 1em 1em;

#assessment {
  .with-circles {
    p {
      margin-bottom: 0;
    }

    @include medium-screen {
      font-size: 14px;
    }
    @include large-screen {
      font-size: 14px;
    }

    &.fixed-order-details > #order-details {
      position: fixed;
      z-index: $z-index-header;
      top: $header-height;
      width: $medium-content-width;

      @include large-screen {
        top: $header-height-large-screen;
        width: $large-content-width;
      }

      // offset-x  offset-y  blur-radius spread-radius color
      box-shadow: 0 0.25em 0.5em 0 $drop-shadow-color;

      padding-bottom: 0;

      > .centered-contents {
        display: block;
        color: $well-border-color;
      }

      &.collapsed {
        /* stylelint-disable-next-line max-nesting-depth */
        .customer-comment,
        .job-ad-link,
        .order-tags:nth-child(2),
        .order-tag.product-code,
        .order-tag.lang,
        .user-profile,
        .second > ul,
        .time-left {
          display: none;
        }

        /* stylelint-disable-next-line max-nesting-depth */
        .order-tags,
        .btn-primary {
          margin-bottom: 0;
        }
      }
    }
  }

  #order-details {
    background-color: white;
    padding: 1.5em $spacer-unit-size;

    > .centered-contents {
      display: none;
    }

    .second > ul {
      margin: $content-element-margin-bottom 0 0 0;
    }

    @include medium-screen {
      $first-section-width: 55%;
      $second-section-width: 25%;
      $third-section-width: 100% - $first-section-width - $second-section-width;

      > div:first-child {
        display: flex;
      }

      .first {
        width: $first-section-width;
      }

      .second {
        width: $second-section-width;
      }

      .third {
        width: $third-section-width;
        text-align: right;
      }
    }

    .customer-comment,
    .job-ad-link {
      margin-top: $content-element-margin-bottom;
      padding-right: $spacer-unit-size;
    }

    .job-ad-link {
      display: inline-block;
      max-width: 100%;

      @include ellipsis;
    }

    .btn-primary {
      margin-bottom: $content-element-margin-bottom;
    }
  }

  #variations-modal {
    ul {
      margin-bottom: 0;
    }

    li {
      padding: 0.25em;

      margin-bottom: $content-element-margin-bottom;
      &:last-child {
        margin-bottom: 0;
      }

      @include transition(background-color $default-animation-duration ease);
      cursor: pointer;

      &:hover {
        background-color: $gradient-light-grey;
      }
    }

    .variation-id-and-tag {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > span {
        display: inline-block;
      }
    }

    .variation-id {
      color: $action-color;
    }

    .extra-language {
      border-radius: 0.15em;

      font-size: $font-size-sm;
      color: white;
      text-transform: uppercase;

      background-color: black;
      padding: 0.2em 0.6em 0;

      margin-left: 1em;
    }
  }

  $margin-below-order-details: 3em;

  .nav-panel {
    margin-top: $margin-below-order-details;
  }

  @include large-screen {
    .position-and-employer {
      display: flex;
    }

    .position-sought {
      margin-right: 2em;
    }

    .employer-sought {
      margin-right: $spacer-unit-size;
    }
  }

  @include xl-screen {
    .nav-panel {
      position: fixed;
      top: 12em;

      background-color: white;

      padding: $spacer-unit-size;
      margin-top: 0;
    }

    .nav-tabs {
      border: none;

      > li {
        float: none;

        /* stylelint-disable-next-line max-nesting-depth */
        > a {
          padding-top: 0.7em;
          padding-bottom: 0.7em;

          margin: 0;
          width: 100%;
          font-weight: bold;

          border: none;
          border-radius: 0;

          /* stylelint-disable-next-line max-nesting-depth */
          &.has-errors {
            @include error-border;
          }
        }
      }

      > .active,
      > .active > a {
        background-color: $gradient-light-grey;
      }
    }

    .tab-content {
      margin-top: $margin-below-order-details;
    }
  }

  .nav.assessment {
    display: none;
    @include xl-screen {
      display: block;
    }

    font-size: 0.85em;

    $checkbox-width: 2em;

    li,
    > a {
      padding: 0.4em 0;
    }

    li {
      display: flex;
      align-items: center;

      > a {
        width: 6.7em;

        @include ellipsis;
      }

      &.active {
        background-color: $sky-blue;

        /* stylelint-disable-next-line max-nesting-depth */
        > a,
        > .category-score {
          color: white;
        }
      }

      &.all-selected > .fa {
        color: $primary-btn-color;
      }
    }

    a {
      display: inline-block;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    > a {
      text-transform: uppercase;
      margin-left: $checkbox-width;
      border-top: 1px solid $well-border-color;
    }

    .fa-check {
      width: $checkbox-width;

      color: $well-border-color;
      text-align: center;
    }

    .category-score {
      display: inline-block;
      padding: 0 0.5em 0 0.3em;
    }
  }

  .tab-pane {
    > section {
      background-color: white;
      padding: $white-section-padding;
      margin-bottom: 3em;
    }

    h3 {
      margin-top: 0;
    }

    ul {
      margin-bottom: 0;
    }
  }

  $comment-paragraph-padding-top: 0.2em;

  .comment-paragraph {
    margin-bottom: 0;
    padding: $comment-paragraph-padding-top 0.4em;
    background-color: $gradient-light-grey;
  }

  .red > .comment-paragraph,
  .report-comment > .comment-paragraph {
    padding-right: 2.5em;
  }

  .list-comment {
    margin-bottom: 1em;

    > .green,
    > .red {
      position: relative;
      cursor: pointer;

      > .comment-paragraph {
        height: 100%;
        min-height: 6em;  // To fit icons
      }
    }

    > .red {
      position: relative;
    }

    > .green > .comment-paragraph.selected {
      background-color: $green-comment-bg;
    }
    > .red > .comment-paragraph.selected {
      background-color: $red-comment-bg;
    }

    &.read-only {
      > .green,
      > .red,
      button {
        cursor: default;
      }

      .comment-paragraph {
        color: lighten($stats-panel-grey, 25%);
      }
    }

    &.selected .comment-paragraph {
      background-color: darken($gradient-light-grey, 5%);
    }

    @include medium-screen {
      display: flex;

      > .id-and-points {
        width: $comment-id-and-points-width;
      }
      > .green {
        width: $green-comment-width;
      }
      > .red {
        width: $red-comment-width;
      }
    }

    .fa {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      @include icon-btn-states;
    }

    .fa-plus-circle {
      top: 2em;
    }

    .fa-undo {
      top: 4em;
    }
  }

  .grouped {
    margin-top: -0.8em;

    > .green::before {
      @include grouped-icon;
    }

    @include medium-screen {
      > .green::before {
        content: "";
      }
      > .red::before {
        @include grouped-icon;
      }
    }
  }

  .id-and-points > p {
    text-align: center;

    &:first-child {
      padding-top: $comment-paragraph-padding-top;
    }
  }

  .overall-comment {
    height: 6em;
  }

  .report-category {
    background-color: white;
    padding: $white-section-padding;
    margin: 0 -4.1em $content-element-margin-bottom -1em;

    @include large-screen {
      margin-right: -5.7em;
    }

    &.read-only {
      > a {
        display: none;
      }

      button {
        cursor: default;
      }
    }

    .btn.secondary {
      font-size: $font-size-sm;
    }
  }

  .report-comment {
    position: relative;
    margin-bottom: $content-element-margin-bottom;

    > .comment-paragraph {
      min-height: 8em; // To have enough space for all buttons

      @include medium-screen {
        max-width: ($small-content-width + $medium-content-width) / 2;
      }
      @include large-screen {
        max-width: $medium-content-width;
      }

      &.has-errors {
        @include error-border;
      }
    }

    > .fa,
    > .id-and-points {
      position: absolute;
      top: 0;
    }

    > .fa {
      @include icon-btn-states;

      right: 3.1em;
      @include large-screen {
        right: 4.7em;
      }
    }

    > .fa-fw {
      width: 2.2em;
    }

    > .fa-arrows {
      cursor: move;
    }

    > .fa-clone {
      top: 2em;
    }

    > .fa-undo {
      top: 4em;
    }

    > .fa-trash {
      top: 6em;
    }


    > .id-and-points {
      right: 0;

      // Same width as the comment list, but in pixels
      width: 43px;
      @include large-screen {
        width: 65px;
      }
    }
  }

  .well-done-comment-composer {
    margin-bottom: $content-element-margin-bottom;

    @include medium-screen {
      max-width: ($small-content-width + $medium-content-width) / 2;
    }
    @include large-screen {
      max-width: $medium-content-width;
    }

    > textarea {
      height: 4em;
    }
  }

  .comment-composer {
    display: flex;

    > textarea {
      height: 3em;
    }
  }
}

.no-flexbox {
  #assessment {
    #order-details {
      @include medium-screen {
        /* stylelint-disable-next-line max-nesting-depth */
        > div:first-child {
          display: block;
          @include clearfix;

          /* stylelint-disable-next-line max-nesting-depth */
          > section {
            float: left;
          }
        }
      }
    }

    @include large-screen {
      .position-and-employer {
        display: block;
        @include clearfix;

        /* stylelint-disable-next-line max-nesting-depth */
        > p {
          float: left;
        }
      }
    }

    .nav.assessment li {
      display: block;
      @include clearfix;

      > .fa,
      > a,
      > .category-score {
        float: left;
      }

      > .fa {
        padding-top: 0.4em;
      }
    }

    .list-comment {
      @include medium-screen {
        display: block;
        @include clearfix;

        /* stylelint-disable-next-line max-nesting-depth */
        > div {
          float: left;
        }
      }
    }

    .comment-composer {
      display: block;
      @include clearfix;

      > textarea {
        float: left;
        width: 95%;
      }

      > button {
        float: right;
        margin-top: 0.4em;
      }
    }

    #variations-modal .variation-id-and-tag {
      display: block;
      @include clearfix;

      > span {
        float: right;
      }
    }
  }
}
