@mixin list-item-border($color: $brand-danger) {
  border-left: 2px solid $color;
  @include bottom-shadow($color, 30%);
}

#order-list {
  .with-circles {
    @include medium-screen {
      font-size: 14px;
    }
    @include large-screen {
      font-size: 14px;
    }

    > ul {
      margin-bottom: 0;

      > li {
        background-color: white;

        padding: 1.5em $spacer-unit-size;
        margin-bottom: 2em;

        @include list-item-border;

        &.in-progress,
        &.awaiting-feedback {
          @include list-item-border($brand-warning);
        }
        &.completed,
        &.scheduled {
          @include list-item-border($brand-success);
        }
      }
    }

    button.styleless.fa {
      padding: .5em .6em;
    }

    .fa-spinner {
      font-size: 2em;
    }
  }

  .rater-profile {
    display: flex;
    align-items: center;

    > .profile-picture {
      width: 40px;
      height: 40px;

      margin-right: 0.5em;
    }
  }

  .secondary-buttons {
    > button {
      font-size: 1.5em;
      color: $grey;

      &.fa-user {
        position: relative;

        > i {
          position: absolute;

          font-size: 0.5em;
          color: $brand-info;

          bottom: 0.9em;
          right: 1em;
        }
      }
    }
  }

  #load-more-panel {
    > .centered-contents {
      display: none;
    }

    &.loading {
      > .centered-contents {
        display: block;
      }

      > #load-more-link-panel {
        display: none;
      }
    }
  }

  #load-more-link-panel {
    text-align: right;
  }
}

#assign-modal {
  ul {
    margin-bottom: 0;

    > li {
      &:not(.disabled) {
        @include transition(background $default-animation-duration);

        &:hover {
          cursor: pointer;
        }

        &:hover,
        &.selected {
          background-color: $well-border-color;
        }
      }

      &.disabled {
        color: $well-border-color;
      }
    }
  }
}

.no-flexbox {
  #order-list {
    .rater-profile {
      display: block;

      > .profile-picture,
      > span {
        display: inline-block;
      }

      > span {
        vertical-align: top;
        margin-top: 0.6em;
      }
    }
  }
}
