@mixin list-item-border($color: $brand-danger) {
  border-left: 2px solid $color;
  @include bottom-shadow($color, 30%);
}

#order-list {
  #content > header > div {
    @include medium-screen {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  p {
    margin-bottom: 0;
  }

  .with-circles {
    @include medium-screen {
      font-size: 14px;
    }
    @include large-screen {
      font-size: 14px;
    }

    .fa-spinner {
      font-size: 2em;
    }
  }

  h2 {
    color: $dark-grey;
  }

  #top-orders > h2 {
    margin-top: 0;
  }

  #other-orders > h2 {
    margin-top: 3em;
  }

  .orders {
    margin-bottom: 0;

    > li {
      background-color: white;

      padding: 1.5em $spacer-unit-size 1em;
      margin-bottom: 2em;

      @include list-item-border;

      &.in-progress,
      &.awaiting-feedback {
        @include list-item-border($brand-warning);
      }
      &.completed,
      &.scheduled {
        @include list-item-border($brand-success);
      }
    }

    @include medium-screen {
      > li {
        display: flex;
      }
    }
  }

  .order-section.second {
    > div:first-child {
      margin-bottom: $content-element-margin-bottom;
    }

    > p {
      margin-top: $content-element-margin-bottom;
    }
  }

  .position-sought {
    margin-bottom: 0.5em;
  }

  .user-profile.customer > .profile-picture {
    display: none;
  }

  @include medium-screen {
    .order-section {
      $first-section-width: 33%;
      $second-section-width: 33%;
      $third-section-width: 100% - $first-section-width - $second-section-width;

      width: $second-section-width;

      &.first {
        width: $first-section-width;
      }

      &.third {
        width: $third-section-width;
        text-align: right;
      }
    }
  }

  .order-id-and-status {
    margin: $content-element-margin-bottom 0;

    > .order-status {
      margin-left: 1em;

      color: $brand-danger;
      &.IN_PROGRESS,
      &.FOR_FEEDBACK {
        color: $brand-warning;
      }
      &.COMPLETED,
      &.SCHEDULED {
        color: $brand-success;
      }
    }
  }

  .action-btn {
    margin-bottom: 0.5em;
  }

  .secondary-buttons {
    > button,
    > a {
      padding: 0.5em 0.6em;
      font-size: 1.3em;
      color: $grey;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
    }

    > .fa-user {
      position: relative;

      > i {
        position: absolute;

        font-size: 0.5em;
        color: $brand-info;

        bottom: 0.9em;
        right: 1em;
      }
    }
  }

  .order-tags > section {
    justify-content: flex-end;
  }

  #load-more-panel {
    > .centered-contents {
      display: none;
    }

    &.loading {
      > .centered-contents {
        display: block;
      }

      > #load-more-link-panel {
        display: none;
      }
    }
  }

  #load-more-link-panel {
    text-align: right;
  }
}

#assign-modal {
  ul {
    margin-bottom: 0;
  }

  li {
    padding: 0.25em;

    &:not(.disabled) {
      @include transition(background-color $default-animation-duration ease);
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: $gradient-light-grey;
      }
    }

    &.disabled {
      color: $well-border-color;
    }
  }
}

#delete-modal {
  .modal-body > section {
    margin-bottom: $content-element-margin-bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .employer-sought {
    margin-bottom: $content-element-margin-bottom;
  }

  .order-tag.coupon {
    font-size: $font-size-sm;
    padding: 0.1em 0.6em;
  }
}

#stats-panel {
  display: none;

  $stats-panel-green: rgb(150, 237, 134); // #96ED86

  @include medium-screen {
    display: flex;
    margin-top: 49px;
  }
  @include large-screen {
    margin-top: 70px;
  }

  > div {
    width: 1.5em;

    @include hdpi-sprite(darken($stats-panel-grey, 10%));

    background-position: 3px -195px;
    @include hidpi {
      background-position: 3px -95px;
    }

    @include large-screen {
      background-position: 6px -191px;
      @include hidpi {
        background-position: 6px -91px;
      }
    }
  }

  > table {
    font-size: 0.65em;
    color: $background-body-color;
  }

  th,
  td {
    width: 7em;
    text-align: center;
  }

  thead th {
    font-weight: normal;

    background-color: $stats-panel-grey;
    &:first-child {
      background-color: $stats-panel-light-grey;
    }
  }

  tbody {
    color: black;
  }

  tbody td {
    background-color: $stats-panel-green;
    &:first-child {
      background-color: lighten($stats-panel-green, 5%);
    }
  }
}

.no-flexbox {
  #order-list {
    #content > header > div {
      @include medium-screen {
        display: block;
        @include clearfix;

        /* stylelint-disable-next-line max-nesting-depth */
        > h1 {
          float: left;
        }

        /* stylelint-disable-next-line max-nesting-depth */
        > #stats-panel {
          float: right;
        }
      }
    }

    .orders {
      @include medium-screen {
        /* stylelint-disable-next-line max-nesting-depth */
        > li {
          display: block;
          @include clearfix;
        }

        /* stylelint-disable-next-line max-nesting-depth */
        .order-section {
          float: left;
        }
      }
    }

    .user-profile > p {
      margin-top: 0.6em;
    }
  }

  #stats-panel {
    @include medium-screen {
      display: block;
      @include clearfix;

      > div,
      > table {
        float: left;
      }
    }
  }
}
