.with-circles {
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("./images/section-circles_255.png");
  @media screen and (min-resolution: 1.3dppx) and (max-width: $medium-content-width) {
    background-image: url("./images/section-circles_510.png");
    background-size: 255px 55px;
  }

  @include medium-screen {
    background-image: url("./images/section-circles-large.png");
  }

  $section-padding-top: $spacer-unit-size * 2;
  $section-padding-bottom: $spacer-unit-size * 2.5;

  padding: $section-padding-top $spacer-unit-size $section-padding-bottom $spacer-unit-size;

  @include medium-screen {
    padding-top: $section-padding-top * $medium-screen-ratio-l;
    padding-bottom: $section-padding-bottom * $medium-screen-ratio-l;

    width: $medium-content-width;

    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  @include large-screen {
    width: $large-content-width;
  }

  > span {
    display: block;
    text-align: center;
    padding-bottom: 1.5em;

    font-weight: lighter;
    font-size: 1.3em;
  }
}

.edition {
  padding: 0.3em 0.7em 0.3em 2.3em;
  border-radius: 0.15em;

  font-size: $font-size-sm;
  color: white;

  $edition-icon-location-x: -1892px;
  $edition-icon-location-y: -496px;

  @include hdpi-sprite($pro-edition-color);
  background-position: $edition-icon-location-x $edition-icon-location-y;
  @include hidpi {
    background-position: -943px -246px;
  }

  &.YOUNG_PRO {
    $edition-icon-location-y: -596px;

    @include hdpi-sprite($young-pro-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -296px;
    }
  }

  &.EXEC {
    $edition-icon-location-y: -696px;

    @include hdpi-sprite($exec-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -346px;
    }
  }

  &.CONSULT {
    $edition-icon-location-y: -2596px;

    @include hdpi-sprite($consult-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -1296px;
    }
  }

  &.ACADEMIA {
    $edition-icon-location-y: -2996px;

    @include hdpi-sprite($academia-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -1496px;
    }
  }

  @include medium-screen {
    $edition-icon-location-x: -1893px;
    $edition-icon-location-y: -796px;
    background-position: $edition-icon-location-x $edition-icon-location-y;

    &.YOUNG_PRO {
      $edition-icon-location-y: -896px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.EXEC {
      $edition-icon-location-y: -996px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.CONSULT {
      $edition-icon-location-y: -2696px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.ACADEMIA {
      $edition-icon-location-y: -3096px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }
  }

  @include large-screen {
    $edition-icon-location-x: -1888px;
    $edition-icon-location-y: -793px;
    background-position: $edition-icon-location-x $edition-icon-location-y;

    &.YOUNG_PRO {
      $edition-icon-location-y: -893px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.EXEC {
      $edition-icon-location-y: -993px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.CONSULT {
      $edition-icon-location-y: -2693px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.ACADEMIA {
      $edition-icon-location-y: -3093px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }
  }
}

.single-column-panel {
  @include medium-screen {
    margin-left: auto;
    margin-right: auto;

    max-width: ($small-content-width + $medium-content-width) / 2;
  }
  @include large-screen {
    max-width: $medium-content-width;
  }
}

@mixin initial-edition-icon-locations {
  $edition-icon-location-x: -1892px;
  $edition-icon-location-y: -496px;

  background-position: $edition-icon-location-x $edition-icon-location-y;
  @include hidpi {
    background-position: -943px -246px;
  }

  &.YOUNG_PRO {
    $edition-icon-location-y: -596px;

    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -296px;
    }
  }

  &.EXEC {
    $edition-icon-location-y: -696px;

    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -346px;
    }
  }

  &.CONSULT {
    $edition-icon-location-y: -2596px;

    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -1296px;
    }
  }

  &.ACADEMIA {
    $edition-icon-location-y: -2996px;

    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -943px -1496px;
    }
  }
}

#order-list .with-circles,
#assessment {
  .edition {
    @include medium-screen {
      @include initial-edition-icon-locations;
    }
    @include large-screen {
      @include initial-edition-icon-locations;
    }
  }
}

.user-profile {
  display: flex;
  align-items: center;

  > .profile-picture {
    width: 40px;
    height: 40px;

    margin-right: 0.5em;
  }

  &.customer > .profile-picture {
    border-radius: 0;
  }
}

.order-tag {
  display: inline-block;

  &.coupon {
    color: white;
    background-color: $dark-grey;
    border-radius: $default-border-radius;
    font-size: 11px;
    padding: 0.5px 6px;
  }

  &.edition {
    margin-left: 0.5em;

    display: inline; // Breaks the design otherwise
  }

  &.product-code {
    margin-right: 0.5em;

    font-weight: bold;
  }
}

.position-sought,
.employer-sought {
  display: flex;
  align-items: center;

  > .fa {
    font-size: 1.5em;
    color: $well-border-color;
  }

  > span {
    display: inline-block;
    line-height: 1em;
  }
}

.position-sought > .fa {
  margin-right: 0.3em;
}

.employer-sought > .fa {
  margin: 0 0.5em 0 0.175em;
}

.no-flexbox {
  .user-profile {
    display: block;
    @include clearfix;

    > .profile-picture,
    > p,
    > div {
      float: left;
    }
  }

  .position-sought,
  .employer-sought {
    display: block;
    @include clearfix;

    > .fa,
    > span {
      float: left;
    }

    > span {
      margin-top: 0.25em;
      max-width: 89%;
    }
  }
}
