.btn {
  @include transition(all $default-animation-duration ease);
  border-radius: 0.25em;

  padding: 0.4em 1em;

  > .fa-spinner {
    margin: 0 0.5em 0 -0.6em;
  }

  &.btn-lg {
    padding: 0.8em 2em;

    > .fa-spinner {
      margin-left: -1.25em;
    }

    text-transform: uppercase;
  }
}

.btn-default,
a.btn-default {
  @include styleless-btn;

  color: $grey;
  border: 2px solid $grey;

  &:active,
  &:focus,
  &:hover {
    color: $background-body-color;
    background-color: darken($grey, 15%);
    border-color: darken($grey, 25%);
  }
}

.btn-primary,
a.btn-primary {
  color: $background-body-color;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;

  &:active,
  &:focus,
  &:hover,
  &:active:focus {
    background-color: darken($primary-btn-color, 15%);
    border-color: darken($primary-btn-color, 25%);
  }
}

.btn.secondary {
  @include styleless-btn;

  color: $secondary-action-color;
  border: 2px solid $secondary-action-color;

  &:active,
  &:focus,
  &:hover {
    color: $background-body-color;
    background-color: darken($secondary-action-color, 15%);
    border-color: darken($secondary-action-color, 25%);
  }
}
