form {
  .form-group {
    margin-bottom: $content-element-margin-bottom;

    &.fg-file-upload {
      > label {
        display: block;
      }

      > div {
        display: flex;

        > .btn {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        > input[type=text] {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          flex-grow: 1;
        }
      }
    }
  }

  .field-error,
  .other-form-error {
    height: 0;
    overflow: hidden;

    font-style: italic;
    color: $state-danger-text;

    margin: 0;

    &.shown-by-default {
      height: auto;
    }
  }

  .field-error {
    margin-left: 0.75em;
  }

  label > [type=file] {
    display: none;
  }

  .for-required-field {
    &:after {
      @include icon-font($fa-var-asterisk);
      font-size: $font-size-xs;
      color: $state-danger-text;
      vertical-align: super;
      margin-left: 0.5em;
    }
  }
}

@include no-flexbox {
  .fg-file-upload > div {
    display: table;
    width: 100%;

    > label,
    > input {
      display: table-cell;
    }
  }
}
