p:last-child {
  margin-bottom: 0;
}

blockquote {
  padding: 0;

  font-weight: bold;
  text-align: center;

  &.primary {
    font-size: 1.2em;
    color: $grey;
    background-color: $lighter-grey;

    > footer {
      color: transparentize($grey, 0.2);
    }

    &:before,
    &:after {
      font-family: "Arial Black";
      font-size: 4em;
      color: $light-grey-blue;

      opacity: 0.2;
      display: block; // For text-align and margin
    }

    &:before {
      content: "“";
      text-align: left;
      margin-bottom: 0.1em;
    }
    &:after {
      content: "”";
      text-align: right;
      margin-top: 0.2em;
    }

    &.dark-bg {
      > p {
        color: transparentize($background-body-color, 0.3);
      }

      > footer {
        color: transparentize($background-body-color, 0.6);
      }

      &:before,
      &:after {
        color: $lighter-grey;
        opacity: 0.4;
      }
    }
  }

  &.secondary {
    color: $darker-grey;

    padding: 1em 1em 2.2em 1em;

    background-image: url(../images/secondary-testimonial-bg.png);
    @include hidpi {
      background-image: url(../images/secondary-testimonial-bg_2x.png);
      background-size: 300px 226px;
    }

    background-position: center bottom;
  }
}

.brand {
  font-family: "Signika", sans-serif;
  font-weight: bold;

  color: $grey;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}