@(firstName: String)
<!DOCTYPE html>
<html>
<body>
    <p>Hej @firstName!</p>

    <p>Nu har du fått din första bedömning och jag hoppas att du hunnit ta del av de kommenterar du fått.</p>

    <p>När du jobbar vidare med din ansökan, kommer du att märka att vissa av råden i din bedömning går ganska snabbt att åtgärda, medan andra kräver att du gör mer omfattande förändringar.</p>

    <p><strong>Man ska inte alltid svälja den fulaste grodan först</strong></p>

    <p>Nån har sagt att man ska "svälja den fulaste grodan först", det vill säga börja med det som är svårast. Men när det gäller att förbättra sin jobbansökan tror jag inte riktigt det stämmer. Mitt råd är att du börjar med de kommentarer du känner mest för! Sen tar du tag i de större punkterna.</p>

    <p>Vet du inte var du ska börja? Svara på det här mejlet så kan jag säkert hjälpa till!</p>

    <p>Hälsningar,</p>

    <footer>
        Erik Fors-Andrée,<br />
        Grundare cruited.com
    </footer>
</body>
</html>
