@(firstName: String, paymentUrl: String)
<!DOCTYPE html>
<html>
    <body>
        <p>Hej @firstName,</p>

        <p>Vi har noterat att du laddade upp dokument på Cruited igår. För att kunna påbörja din granskning behöver vi din betalning. Du betalar snabbt och enkelt med kort eller genom att använda en rabattkod från någon av våra partner. Du kan <a href="@paymentUrl">göra det här</a>.</p>

        <p>Har du problem med din rabattkod eller med att ladda upp dina dokument, kontakta oss på <a href="mailto:kontakt@@cruited.com">kontakt@@cruited.com</a>!</p>

        <p>Hör gärna av dig om du har några frågor eller funderingar.</p>

        <p>Hälsningar,</p>

        <footer>
        Cruited-teamet
        </footer>
    </body>
</html>
