/* iOS */

// Fixed background doesn't work on iOS
html[data-useragent*="iPhone"],
html[data-useragent*="iPad"],
html[data-useragent*="iPod"] {
  .img-bg {
    background-attachment: scroll;
  }

  .banner {
    button {
      width: 120px;

      $menu-btn-img-location-x: 160px;
      $menu-btn-img-location-y: -900px;

      background-position: $menu-btn-img-location-x $menu-btn-img-location-y;
      @include hidpi {
        background-position: half-pos($menu-btn-img-location-x, $menu-btn-img-location-y);
      }

      &::before {
        margin-left: 0;
      }
    }

    &.scrolled-down,
    &.menu-open {
      button {
        $menu-btn-img-location-x: 160px;
        $menu-btn-img-location-y: -1000px;

        background-position: $menu-btn-img-location-x $menu-btn-img-location-y;
        @include hidpi {
          background-position: half-pos($menu-btn-img-location-x, $menu-btn-img-location-y);
        }
      }
    }
  }
}


/* IE */

// IE actually checks if we're allowed to use web fonts, and notices that we are not allowed to use Gotham Rounded. So we use Arial Rounded as fallback.
html[data-useragent*="Trident"],
html[data-useragent*="MSIE"] {
  body {
    font-family: "Arial Rounded MT", sans-serif;
  }
}
