$two-column-form-group-width: 48%;

@mixin project-border {
  border: 1px solid $well-border-color;
  border-radius: $default-border-radius;
}

[role=main] {
  background-color: $light-grey;
}

button.styleless.fa {
  padding: 0.93em 1.04em;
  @include medium-screen {
    padding: 0.8em 0.9em;
  }
  @include large-screen {
    padding: 0.5em 0.6em;
  }

  &.fa-times {
    margin-top: -0.5em;
  }
}

a > i.fa {
  margin-right: 0.5em;
}

.edition {
  padding: 0.3em .7em 0.3em 2.3em;
  border-radius: 0.15em;

  font-size: $font-size-sm;
  color: white;

  $edition-icon-location-x: -1892px;
  $edition-icon-location-y: -496px;

  @include hdpi-sprite($pro-edition-color);
  background-position: $edition-icon-location-x $edition-icon-location-y;
  @include hidpi {
    background-position: -942px -246px;
  }

  &.YOUNG_PRO {
    $edition-icon-location-y: -596px;

    @include hdpi-sprite($young-pro-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -942px -296px;
    }
  }

  &.EXEC {
    $edition-icon-location-y: -696px;

    @include hdpi-sprite($exec-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -942px -346px;
    }
  }

  @include medium-screen {
    $edition-icon-location-x: -1893px;
    $edition-icon-location-y: -797px;
    background-position: $edition-icon-location-x $edition-icon-location-y;

    &.YOUNG_PRO {
      $edition-icon-location-y: -897px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.EXEC {
      $edition-icon-location-y: -997px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }
  }

  @include large-screen {
    $edition-icon-location-x: -1889px;
    $edition-icon-location-y: -794px;
    background-position: $edition-icon-location-x $edition-icon-location-y;

    &.YOUNG_PRO {
      $edition-icon-location-y: -894px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.EXEC {
      $edition-icon-location-y: -994px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }
  }
}

.profile-picture {
  display: inline-block;

  border-radius: 50%;

  background: no-repeat center center;
  background-size: cover;
}

.btn-lg.btn-primary {
  margin-top: 1em;
}

#linkedin-preview {
  display: flex;
  align-items: center;
}

.no-flexbox {
  #linkedin-preview {
    display: block;

    > span {
      display: inline-block;
      vertical-align: top;
      margin-top: 0.6em;
    }
  }
}
