$two-column-form-group-width: 48%;

@mixin project-border {
  border: 1px solid $well-border-color;
  border-radius: $default-border-radius;
}

@mixin dashed-border-bottom {
  border-bottom: 1px dashed $well-border-color;
}

@mixin tight-letter-spacing {
  letter-spacing: -0.05em;
}

@mixin bottom-shadow {
  box-shadow: 0 0.2em 0 -0.1em lighten(black, 90%);
}

@mixin new-assessment-btn-in-header-top-margin {
  #header-with-new-assessment-btn .btn.new-assessment {
    margin-top: 4.6em;
    @include medium-screen {
      margin-top: 3.65em;
    }
    @include large-screen {
      margin-top: 4.3em;
    }
  }
}

[role=main] {
  background-color: $light-grey;
}

button.styleless.fa {
  padding: 0.93em 1.04em;
  @include medium-screen {
    padding: 0.8em 0.9em;
  }
  @include large-screen {
    padding: 0.5em 0.6em;
  }

  &.fa-times {
    margin-top: -0.5em;
  }
}

a > i.fa {
  margin-right: 0.5em;
}

.edition {
  padding: 0.3em .7em 0.3em 2.3em;
  border-radius: 0.15em;

  font-size: $font-size-sm;
  color: white;

  $edition-icon-location-x: -1892px;
  $edition-icon-location-y: -496px;

  @include hdpi-sprite($pro-edition-color);
  background-position: $edition-icon-location-x $edition-icon-location-y;
  @include hidpi {
    background-position: -942px -246px;
  }

  &.YOUNG_PRO {
    $edition-icon-location-y: -596px;

    @include hdpi-sprite($young-pro-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -942px -296px;
    }
  }

  &.EXEC {
    $edition-icon-location-y: -696px;

    @include hdpi-sprite($exec-edition-color);
    background-position: $edition-icon-location-x $edition-icon-location-y;
    @include hidpi {
      background-position: -942px -346px;
    }
  }

  @include medium-screen {
    $edition-icon-location-x: -1893px;
    $edition-icon-location-y: -797px;
    background-position: $edition-icon-location-x $edition-icon-location-y;

    &.YOUNG_PRO {
      $edition-icon-location-y: -897px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.EXEC {
      $edition-icon-location-y: -997px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }
  }

  @include large-screen {
    $edition-icon-location-x: -1889px;
    $edition-icon-location-y: -794px;
    background-position: $edition-icon-location-x $edition-icon-location-y;

    &.YOUNG_PRO {
      $edition-icon-location-y: -894px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }

    &.EXEC {
      $edition-icon-location-y: -994px;
      background-position: $edition-icon-location-x $edition-icon-location-y;
    }
  }
}

.profile-picture {
  display: inline-block;

  border-radius: 50%;

  background: no-repeat center center;
  background-size: cover;
}

.btn-lg.btn-primary {
  margin-top: 1em;
}

#linkedin-preview {
  display: flex;
  align-items: center;
}

.light-font {
  font-weight: lighter;

  a,
  strong {
    font-weight: normal;
  }
}

span.status {
  &.In.Progress {
    color: $brand-danger;
  }
  &.Completed {
    color: $primary-btn-color;
  }
}

.highlighted-number {
  padding: 0.4em 0.6em;
  line-height: 1em;
  text-align: center;

  color: white;
  background-color: $brand-danger;
  border-radius: $default-border-radius;
}

.assessment-label {
  margin-right: 0.5em;
}

.well {
  min-height: 0;
  padding: 1em 1.75em;
  margin-bottom: $content-element-margin-bottom;
  @include project-border;
  background-color: $light-grey;
}

nav > a,
.nav > li > a {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.btn.new-assessment {
  font-size: $font-size-sm;
  border-radius: 1.3em;

  padding: 0.5em 0.7em;

  line-height: 1em;
  > span {
    line-height: 1em;
  }

  @include medium-screen {
    // Default
    padding-left: 1em;
    padding-right: 1em;

    > span {
      margin-right: 1em;
    }
  }

  > .fa-plus {
    margin-right: 1px;
  }
}

#header-with-new-assessment-btn > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sheet-of-paper {
  background-color: white;
  @include bottom-shadow;

  margin-bottom: 2em;

  padding: 1.5em $spacer-unit-size;
  @include medium-screen {
    padding-left: 2.8em;
    padding-right: 2.8em;
  }
  @include large-screen {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.single-column-form {
  @include medium-screen {
    margin: 0 auto;
    max-width: ($small-content-width + $medium-content-width) / 2;
  }
  @include large-screen {
    max-width: $medium-content-width;
  }
}


@include no-flexbox {
  #linkedin-preview {
    display: block;

    > span {
      display: inline-block;
      vertical-align: top;
      margin-top: 0.6em;
    }
  }

  #header-with-new-assessment-btn > div {
    display: block;
    @include clearfix;

    > h1 {
      float: left;
    }

    > .btn {
      float: right;
    }
  }
}
