#edit-order {
  form {
    font-size: #{$font-size-base-px}px;
  }

  #position-and-employer-section {
    margin-top: 3em;
  }

  @include medium-screen {
    #documents-section,
    #position-and-employer-section,
    #url-and-comment-section {
      display: flex;
      justify-content: space-between;

      > .form-group {
        width: $two-column-form-group-width;
      }
    }
  }
}

@include no-flexbox {
  #edit-order {
    @include medium-screen {
      #documents-section,
      #position-and-employer-section,
      #url-and-comment-section {
        display: block;
        @include clearfix;

        > .form-group {
          float: right;
          width: $two-column-form-group-width;

          &:first-child {
            float: left;
          }
        }
      }
    }
  }
}
