$expires-and-cvc-field-width: 30%;

#order-step-payment {
  #cart-section {
    margin-bottom: 2em;
  }

  #expires-and-cvc {
    display: flex;
    justify-content: space-between;

    > .form-group {
      width: $expires-and-cvc-field-width;
    }
  }

  .alert {
    display: none;
  }

  @include medium-screen {
    #cart-section,
    form {
      margin-left: auto;
      margin-right: auto;

      max-width: ($small-content-width + $medium-content-width) / 2;
    }

    #cart-section {
      > header {
        margin-bottom: 0.3em;

        > h2 {
          font-size: 1em;
          padding: 0.3em 0 0 2em;

          background-position: -1900px -294px;
        }
      }

      > div li > span:first-child {
        max-width: 77%;
      }
    }

    .highlighted-number {
      padding: .3em .5em;
    }
  }

  @include large-screen {
    #cart-section,
    form {
      font-size: #{$medium-screen-ratio-m * $font-size-base-px}px;
    }

    #cart-section,
    form {
      width: 48%;
    }

    #cart-section {
      float: right;

      > div {
        padding-left: 2.8em;
        padding-right: 2.8em;
      }

      .edition {
        // Original is -1889px -794px;
        background-position: -1893px -797px;

        &.YOUNG_PRO {
          // Original-y is -894px;
          background-position: -1893px -897px;
        }

        &.EXEC {
          // Original-y is -994px;
          background-position: -1893px -997px;
        }
      }
    }

    form {
      float: left;
    }
  }
}

@include no-flexbox {
  #order-step-payment {
    #expires-and-cvc {
      display: block;
      @include clearfix;

      > .form-group {
        float: left;

        &:first-child {
          margin-right: (100% - 3 * $expires-and-cvc-field-width) / 2;
        }

        &:last-child {
          float: right;
        }
      }
    }
  }
}
