#order-step-assessment-info {
  .checkbox > label::before {
    margin-top: 3px;
  }

  #linkedin-profile-form-group {
    > div {
      > ol,
      > ul,
      > .checkbox {
        margin-left: 1.7em;
      }

      > ol,
      > p.light-font {
        margin-top: 0.5em;
      }

      > p.light-font,
      > ul {
        color: $state-danger-text;
      }

      > p.light-font {
        margin-bottom: 0;
        margin-left: 3.5em;
      }
    }

    .sign-in-with-linkedin {
      padding-left: 22px;
      @include medium-screen {
        padding-left: 41px;
        padding-top: 0.5em;
      }
    }

    li {
      padding-left: 0.3em;
    }
  }

  #linkedin-preview {
    margin-top: 0.5em;
  }

  #tos-wrapper {
    > .checkbox {
      display: inline-block;
      text-align: left;
    }
  }
}
