#order-step-assessment-info {
  .checkbox > label::before {
    margin-top: 3px;
  }

  #linkedin-profile-form-group {
    > div {
      > ol,
      > ul,
      > .checkbox {
        margin-left: 1.7em;
      }

      > ol,
      > p.light-font {
        margin-top: 0.5em;
      }

      > p.light-font,
      > ul {
        color: $state-danger-text;
      }

      > p.light-font {
        margin-bottom: 0;
        margin-left: 3.5em;
      }
    }

    .sign-in-with-linkedin {
      $li-btn-padding-left: 22px;

      padding-left: $li-btn-padding-left;
      @include medium-screen {
        padding-left: 41px;
        padding-top: 0.5em;
      }

      &.btn-xs {
        margin-left: 49px;

        @include medium-screen {
          padding-left: $li-btn-padding-left;
          padding-top: 0;
        }
      }
    }

    li {
      padding-left: 0.3em;
    }
  }

  #linkedin-preview {
    margin-top: 0.5em;
  }

  .sign-in-with-linkedin-first {
    color: $sky-blue;
    font-style: italic;
  }

  #request-entity-too-large-error {
    margin-top: - $content-element-margin-bottom / 2;
  }

  #tos-wrapper {
    > .checkbox {
      display: inline-block;
      text-align: left;
    }
  }
}
