#order-interview-training {
  #interview-training-description {
    border-bottom: none;

    > ul {
      margin: 0;

      > li:last-child {
        margin-top: $content-element-margin-bottom;
      }
    }
  }

  .highlighted-number {
    display: none;
  }
}
