#order-interview-training {
  #products-section {
    border-bottom: none;

    @include large-screen {
      padding-bottom: 2em;
    }
  }

  .checkbox input[type=checkbox]:disabled + label {
    opacity: 1;
  }

  .highlighted-number {
    display: none;
  }
}
