#order-steps-breadcrumbs {
  display: flex;
  justify-content: center;

  font-size: $font-size-xs;
  text-transform: uppercase;

  margin-bottom: 6em;

  > a,
  > span {
    display: flex;
    flex-direction: column;
    justify-content: center;

    $border-radius: 0.5em;
    $border-radius-large: 1.85em;

    text-align: center;

    border-radius: $border-radius;

    padding: 0.8em 2em;
    margin: 0 0.2em;

    &:first-child {
      border-top-left-radius: $border-radius-large;
      border-bottom-left-radius: $border-radius-large;
    }

    &:last-child {
      border-top-right-radius: $border-radius-large;
      border-bottom-right-radius: $border-radius-large;
    }

    &.disabled {
      text-decoration: line-through;
    }
  }

  > a {
    background-color: $action-color;
    color: white;

    &.disabled {
      cursor: auto;
    }
  }

  > span {
    @include linear-gradient(white 50%, $gradient-light-grey);
    color: $well-border-color;
    border: 1px solid $well-border-color;

    &.current-step {
      background: none $sky-blue;
      color: white;
      border: 1px solid $sky-blue;
    }
  }
}

#order-step-assessment-info,
#order-step-account-creation {
  #content .profile-picture {
    width: 3em;
    height: 3em;

    margin-right: 0.5em;
  }
}

#cart-section {
  > header {
    @include clearfix;

    margin-bottom: 0.5em;

    > h2 {
      float: left;

      margin: 0;
      padding-left: 2em;

      font-size: 1.3em;
      color: $dark-grey;
      line-height: 1.4em;

      $cart-icon-location-x: -1900px;
      $cart-icon-location-y: -300px;

      @include hdpi-sprite;
      background-position: $cart-icon-location-x $cart-icon-location-y;
      @include hidpi {
        background-position: half-pos($cart-icon-location-x, $cart-icon-location-y);
      }

      @include medium-screen {
        padding-left: 2.4em;

        $cart-icon-location-y: -400px;
        background-position: $cart-icon-location-x $cart-icon-location-y;
      }

      @include large-screen {
        padding-left: 2em;
      }
    }

    > span {
      float: right;
    }
  }

  > div {
    background-color: white;

    @include project-border;

    padding: 2em 2.8em 1em 2.8em;

    > ul {
      margin-bottom: 0;
      padding-bottom: $content-element-margin-bottom;

      @include dashed-border-bottom;
    }

    li {
      @include clearfix;

      margin-top: 1em;

      > span {
        float: left;

        &:first-child {
          max-width: 71%;
        }

        &.cart-product-price {
          float: right;
          color: $grey;
          margin-top: 1.7em;
        }
      }
    }

    .cart-product-name {
      font-weight: bold;
    }

    @include large-screen {
      padding-left: 5em;
      padding-right: 5em;
    }
  }

  .column-labels {
    color: $well-border-color;
    border-bottom: 1px solid $well-border-color;

    text-transform: uppercase;

    @include clearfix;

    > span {
      float: left;
      &:last-child {
        float: right;
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  // Coupon form
  form {
    padding: 1.5em 0;

    @include dashed-border-bottom;

    > .form-group {
      margin-bottom: 0.5em;
    }

    .btn {
      width: 100%;
    }

    @include medium-screen {
      > .form-group > div {
        display: flex;
      }

      .btn {
        width: auto;
        margin-left: 0.5em;
      }
    }
  }

  #coupon-not-found-error {
    // Default
    margin-left: 0.75em;
  }

  table {
    margin-top: 2em;

    width: 100%;

    .sub-total-row {
      color: $grey;
    }
    .reduction-row {
      color: $primary-btn-color;
    }
    .coupon-row {
      color: $brand-danger;
    }

    td:last-child {
      text-align: right;
    }

    @include medium-screen {
      width: auto;

      td:last-child {
        width: 5em;
      }
    }
  }

  tfoot {
    border-top: 0.5em solid $well-border-color;

    td {
      &:first-child {
        text-transform: uppercase;
        @include tight-letter-spacing;
      }
      &:last-child {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

.two-columns {
  padding-bottom: 2.5em;
  border-bottom: 1px solid $well-border-color;

  > header {
    > p {
      margin-bottom: $content-element-margin-bottom;
    }
  }

  h2 {
    margin-top: 0;
  }
}

#order-step-assessment-info,
#edit-order {
  .with-circles {
    @include medium-screen {
      width: auto;
      margin: 0 $spacer-unit-size;
    }
    @include large-screen {
      width: $large-content-width;
      margin: 0 auto;
    }
  }

  form {
    font-size: #{$font-size-base-px}px;
  }

  #job-you-search-section,
  form > .form-group {
    margin-top: 3em;
  }

  @include medium-screen {
    #documents-section,
    #job-you-search-section {
      display: flex;
      justify-content: space-between;

      > header {
        width: 40%;
      }

      > div {
        width: 55%;
        margin-top: 12px;
      }
    }

    form > .form-group {
      max-width: 55%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.guarantee-panel {
  span {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

.no-flexbox {
  #order-steps-breadcrumbs {
    display: table;

    margin-left: auto;
    margin-right: auto;

    > a,
    > span {
      display: table-cell;
    }
  }

  #order-step-assessment-info,
  #edit-order {
    @include medium-screen {
      #documents-section,
      #job-you-search-section {
        display: block;
        @include clearfix;

        > header {
          float: left;
        }

        > div {
          float: right;
        }
      }
    }
  }
}
