#order-step-account-creation {
  form {
    @include medium-screen {
      margin: 0 auto;
      max-width: ($small-content-width + $medium-content-width) / 2;
    }
    @include large-screen {
      max-width: $medium-content-width;
    }
  }

  #register-with-linkedin-section,
  #register-with-email-section {
    display: none;
  }

  .switch-registration-method-link {
    display: inline-block;
    margin-bottom: 2em;
  }

  .sign-in-with-linkedin {
    margin-bottom: 1em;

    padding-left: 22px;
    @include medium-screen {
      padding-left: 41px;
    }
  }

  #linkedin-preview {
    margin-bottom: $content-element-margin-bottom;
  }
}
