#order-step-account-creation {
  .with-circles > section {
    display: none;
  }

  .sign-in-with-linkedin {
    margin-bottom: 1em;

    padding-left: 22px;
    @include medium-screen {
      padding-left: 41px;
    }
  }

  #sign-in-panel {
    margin-bottom: $content-element-margin-bottom;
  }

  #reset-password-panel,
  #coupon-removed-alert {
    display: none;
  }
}
