#order-step-assessment-info {
  .with-circles > form [type="submit"] {
    @include large-screen {
      font-size: $two-columns-font-size-large-screen;
    }
  }

  .two-columns > div > div {
    margin-top: -33px;
  }

  #linkedin-profile-form-group {
    $element-margin-left: 3.5em;

    > div {
      > ol,
      > ul,
      > .checkbox {
        margin-left: 1.7em;
      }

      > ol,
      > p.light-font {
        margin-top: 0.5em;
      }

      > p.light-font,
      > ul {
        color: $state-danger-text;
      }

      > p.light-font {
        margin-bottom: 0;
        margin-left: $element-margin-left;
      }
    }

    .sign-in-with-linkedin {
      $li-btn-padding-left: 22px;

      padding-left: $li-btn-padding-left;
      @include medium-screen {
        padding-left: 41px;
        padding-top: 0.5em;
      }

      &.btn-xs {
        margin-left: 49px;

        @include medium-screen {
          padding-left: $li-btn-padding-left;
          padding-top: 0;
        }
      }
    }

    li {
      padding-left: 0.3em;
    }

    #multi-language-linkedin-profile-section {
      margin: 2em 0 0 $element-margin-left;

      > div {
        display: none;
      }

      p {
        margin-bottom: 0;
      }

      .nav-pills {
        margin-left: -0.2em;

        > li > a {
          padding: 0.3em 0.5em;
        }
      }
    }

    @include large-screen {
      .checkbox > label::before {
        margin-top: 3px;
      }
    }
  }

  #linkedin-preview {
    margin-top: 0.5em;
  }

  .sign-in-with-linkedin-first {
    color: $sky-blue;
    font-style: italic;
  }

  #request-entity-too-large-error {
    margin-top: - $content-element-margin-bottom / 2;
  }
}
