$two-column-right-col-margin-top: 3em;

.two-columns {
  margin-top: $two-column-right-col-margin-top;
  padding-bottom: $two-column-right-col-padding-bottom;
  border-bottom: 1px solid $well-border-color;

  > h2 {
    margin-top: 0;
  }

  header {
    margin-bottom: $content-element-margin-bottom;
  }

  ul {
    margin-bottom: 0;
  }

  &.widow {
    margin-top: 0;
    align-items: center;

    > header {
      margin-bottom: 0;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  @include large-screen {
    &.widow,
    > div {
      display: flex;
      justify-content: space-between;

      font-size: $two-columns-font-size-large-screen;

      > header {
        width: 40%;
      }

      > ul,
      > form,
      > div {
        width: $two-column-right-col-width;
      }

      > div {
        margin-top: -33px;
      }
    }
  }
}

#order-steps-breadcrumbs {
  display: flex;
  justify-content: center;

  font-size: $font-size-xs;
  text-transform: uppercase;

  margin-bottom: 6em;

  > a,
  > span {
    display: flex;
    flex-direction: column;
    justify-content: center;

    $border-radius: 0.5em;
    $border-radius-large: 1.85em;

    text-align: center;

    border-radius: $border-radius;

    padding: 0.8em 2em;
    margin: 0 0.2em;

    &:first-child {
      border-top-left-radius: $border-radius-large;
      border-bottom-left-radius: $border-radius-large;
    }

    &:last-child {
      border-top-right-radius: $border-radius-large;
      border-bottom-right-radius: $border-radius-large;
    }

    &.disabled {
      text-decoration: line-through;
    }
  }

  > a {
    background-color: $action-color;
    color: white;

    &.disabled {
      cursor: auto;
    }
  }

  > span {
    @include linear-gradient(white 50%, $gradient-light-grey);
    color: $well-border-color;
    border: 1px solid $well-border-color;

    &.current-step {
      background: none $sky-blue;
      color: white;
      border: 1px solid $sky-blue;
    }
  }
}

#order-step-assessment-info,
#order-step-account-creation {
  #content .profile-picture {
    width: 3em;
    height: 3em;

    margin-right: 0.5em;
  }
}

#cart-section {
  > header {
    @include clearfix;

    margin-bottom: 0.5em;

    > h2 {
      float: left;

      margin: 0;
      padding-left: 2em;

      font-size: 1.3em;
      color: $dark-grey;
      line-height: 1.4em;

      $cart-icon-location-x: -1900px;
      $cart-icon-location-y: -300px;

      @include hdpi-sprite;
      background-position: $cart-icon-location-x $cart-icon-location-y;
      @include hidpi {
        background-position: half-pos($cart-icon-location-x, $cart-icon-location-y);
      }

      @include medium-screen {
        padding-left: 2.4em;

        $cart-icon-location-y: -400px;
        background-position: $cart-icon-location-x $cart-icon-location-y;
      }

      @include large-screen {
        padding-left: 2em;
      }
    }

    > span {
      float: right;
    }
  }

  > div {
    background-color: white;

    @include project-border;

    padding: 2em 2.8em 1em 2.8em;

    > ul {
      margin-bottom: 0;
      padding-bottom: $content-element-margin-bottom;

      @include dashed-border-bottom;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 1em;

      > span {
        &:first-child {
          flex-grow: 1;
        }

        &.cart-product-price {
          color: $grey;
        }
      }

      .fa-times {
        color: $brand-danger;

        @include medium-screen {
          margin-top: 0;
        }
      }

      &.editable {
        .cart-product-price {
          margin-right: -2.9em;
          min-width: 7.2em;
          @include medium-screen {
            margin-right: -2.65em;
            min-width: 0;
          }
          @include large-screen {
            margin-right: -2.025em;
          }
        }
      }

      &.with-edition {
        .cart-product-price {
          margin-top: 0.5em;
        }
      }
    }

    .cart-product-name {
      font-weight: bold;
    }

    @include large-screen {
      padding-left: 5em;
      padding-right: 5em;
    }
  }

  .column-labels {
    color: $well-border-color;
    border-bottom: 1px solid $well-border-color;

    text-transform: uppercase;

    @include clearfix;

    > span {
      float: left;
      &:last-child {
        float: right;
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  // Coupon form
  form {
    padding: 1.5em 0;

    @include dashed-border-bottom;

    > .form-group {
      margin-bottom: 0.5em;
    }

    .btn {
      width: 100%;
    }

    @include medium-screen {
      > .form-group > div {
        display: flex;
      }

      .btn {
        width: auto;
        margin-left: 0.5em;
      }
    }
  }

  #coupon-not-found-error {
    // Default
    margin-left: 0.75em;
  }

  table {
    margin-top: 2em;

    width: 100%;

    .sub-total-row {
      color: $grey;
    }
    .reduction-row {
      color: $primary-btn-color;
    }
    .coupon-row {
      color: $brand-danger;
    }

    td:last-child {
      text-align: right;
    }

    @include medium-screen {
      width: auto;

      td:last-child {
        width: 5em;
      }
    }
  }

  tfoot {
    border-top: 0.5em solid $well-border-color;

    td {
      &:first-child {
        text-transform: uppercase;
        @include tight-letter-spacing;
      }
      &:last-child {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

.guarantee-panel {
  span {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

#documents-section,
#job-you-search-section {
  padding-bottom: $two-column-right-col-padding-bottom - $content-element-margin-bottom;
}

#job-ad-file-upload-form-group {  // Hidden by default
  display: none;
}

#customer-comment-form-group {
  margin-top: $two-column-right-col-margin-top;

  @include large-screen {
    font-size: $two-columns-font-size-large-screen;

    max-width: $two-column-right-col-width;
    margin-left: auto;
    margin-right: auto;
  }
}

#tos-wrapper {
  // Otherwise things get weird when inspecting
  > .checkbox {
    display: inline-block;
    text-align: left;
  }

  @include large-screen {
    font-size: $two-columns-font-size-large-screen;

    > .checkbox > label::before {
      margin-top: 3px;
    }
  }
}

#order-step-product-selection,
#order-interview-training {
  .form-inline .form-control {
    // We want this even on small res
    display: inline-block;
    width: auto;
    vertical-align: baseline;
  }

  #content > header {
    > div {
      display: flex;
      justify-content: space-between;
    }

    form {
      margin-top: 43px;

      > .medium-screen {
        display: none;
      }

      @include medium-screen {
        margin-top: 48px;
        font-size: #{$font-size-base-px}px;

        > .form-group {
          display: none;

          &.medium-screen {
            display: block;
          }
        }
      }

      @include large-screen {
        margin-top: 73px;
      }
    }
  }

  #products-section,
  #editions-section {
    li {
      background-color: white;
      color: $grey;

      @include project-border;

      cursor: pointer;

      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #products-section {
    li {
      border-style: dashed;

      // Using Float instead of Flexbox due to insuffient browser support
      @include clearfix;
      min-height: 5.2em;

      &.selected {
        border: 2px solid $primary-btn-color;
      }

      &.read-only {
        cursor: default;
      }

      > .checkbox {
        float: left;
        margin-left: $spacer-unit-size;

        width: $two-column-right-col-width;
      }

      > .prices {
        float: right;

        margin-top: 1.2em;
        &.with-reduction {
          margin-top: 0.7em;
        }
      }

      p {
        margin-bottom: 0;
      }
    }

    @include medium-screen {
      .checkbox {
        margin-top: 1.5em;
      }

      .prices {
        margin-right: 0;

        > p {
          width: 8em;
          text-align: center;

          border-left: 1px solid $gradient-light-grey;
        }
      }
    }

    @include large-screen {
      .checkbox > label::before {
        margin-top: 3px; // Default
      }
    }
  }

  .prices {
    margin-right: $spacer-unit-size;

    font-size: 1.2em;

    > p,
    span {
      line-height: 1em;
    }

    > p {
      text-align: center;
    }
  }

  .amount {
    font-weight: bold;
    font-size: 1.7em;
  }

  .currency-code {
    margin-left: 0.3em;
  }

  .full-price {
    color: $brand-danger;
    text-decoration: line-through;
    text-align: center;
  }

  .guarantee-panel {
    @include large-screen {
      font-size: #{$font-size-base-px}px;
    }
  }

  #cart-section {
    > header {
      margin-top: 2.6em;
    }

    > div {
      margin-bottom: 2em;
    }

    table {
      margin-bottom: 1em;
    }

    @include medium-screen {
      > div li > span:first-child {
        max-width: 100%;
      }

      .with-edition {
        > span {
          display: flex;
          align-items: center;
        }

        .cart-product-price {
          margin-top: 0;
        }
      }

      .cart-product-name {
        display: inline-block;
        width: 17em;
      }

      .bottom-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    @include large-screen {
      .bottom-section {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      table {
        order: 1;
        flex-shrink: 0;
      }

      .guarantee-panel {
        max-width: 52%;
        margin: 2.8em 2.8em 0 0;
      }
    }
  }

  .with-circles > form > .other-form-error {
    margin: $content-element-margin-bottom 0;
  }

  .btn-lg.btn-primary {
    margin-top: 0;
  }
}


#order-step-assessment-info,
#order-interview-training-step-assessment-info {
  .with-circles > form [type="submit"] {
    @include large-screen {
      font-size: $two-columns-font-size-large-screen;
    }
  }
}


.no-flexbox {
  .two-columns {
    @include large-screen {
      &.widow,
      > div {
        display: block;
        @include clearfix;

        > header {
          float: left;
        }

        > ul,
        > form,
        > div {
          float: right;
        }
      }
    }
  }

  #order-steps-breadcrumbs {
    display: table;

    margin-left: auto;
    margin-right: auto;

    > a,
    > span {
      display: table-cell;
    }
  }

  #cart-section {
    > div li {
      display: block;
      @include clearfix;

      > span {
        float: left;

        &.cart-product-price {
          float: right;
        }
      }
    }

    form > .form-group > div {
      @include medium-screen {
        display: block;
        @include clearfix;

        > input {
          max-width: 77%;
          float: left;
        }

        > button {
          float: right;
        }
      }
    }
  }

  #order-step-product-selection,
  #order-interview-training {
    #content > header > div {
      display: block;
      @include clearfix;

      > h1 {
        float: left;
      }

      > form {
        float: right;
      }
    }

    #cart-section {
      @include medium-screen {
        .with-edition > span {
          display: block;
          @include clearfix;

          > .cart-product-name,
          > .edition {
            float: left;
          }
        }

        .bottom-section {
          display: block;
          @include clearfix;

          > table {
            float: right;
          }

          > .guarantee-panel {
            float: left;
          }
        }
      }
    }
  }
}
