$two-column-right-col-margin-top: 3em;

.two-columns {
  margin-top: $two-column-right-col-margin-top;
  padding-bottom: $two-column-right-col-padding-bottom;
  border-bottom: 1px solid $well-border-color;

  > h2 {
    margin-top: 0;
  }

  header {
    margin-bottom: $content-element-margin-bottom;
  }

  ul {
    margin-bottom: 0;
  }

  &.widow {
    margin-top: 0;
    align-items: center;

    > header {
      margin-bottom: 0;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  @include large-screen {
    &.widow,
    > div {
      display: flex;
      justify-content: space-between;

      > header,
      > ul,
      > form,
      > div {
        font-size: $two-columns-font-size-large-screen;
      }

      > header {
        width: 40%;
      }

      > ul,
      > form,
      > div {
        width: $two-column-right-col-width;
      }
    }
  }
}

#order-steps-breadcrumbs {
  display: flex;
  justify-content: center;

  font-size: $font-size-xs;
  text-transform: uppercase;

  margin-bottom: 6em;

  > a,
  > span {
    display: flex;
    flex-direction: column;
    justify-content: center;

    $border-radius: 0.5em;
    $border-radius-large: 1.85em;

    text-align: center;

    border-radius: $border-radius;

    padding: 0.8em 2em;
    margin: 0 0.2em;

    &:first-child {
      border-top-left-radius: $border-radius-large;
      border-bottom-left-radius: $border-radius-large;
    }

    &:last-child {
      border-top-right-radius: $border-radius-large;
      border-bottom-right-radius: $border-radius-large;
    }

    &.disabled {
      text-decoration: line-through;
    }
  }

  > a {
    background-color: $action-color;
    color: white;

    &.disabled {
      cursor: auto;
    }
  }

  > span {
    @include linear-gradient(white 50%, $gradient-light-grey);
    color: $well-border-color;
    border: 1px solid $well-border-color;

    &.current-step {
      background: none $sky-blue;
      color: white;
      border: 1px solid $sky-blue;
    }
  }
}

#order-step-assessment-info,
#order-step-account-creation {
  #content .profile-picture {
    width: 3em;
    height: 3em;

    margin-right: 0.5em;
  }
}

#order-step-assessment-info,
#edit-order {
  .two-columns > div > div {
    margin-top: -33px;
  }
}

#cart-section {
  > header {
    @include clearfix;

    margin-bottom: 0.5em;

    > h2 {
      float: left;

      margin: 0;
      padding-left: 2em;

      font-size: 1.3em;
      color: $dark-grey;
      line-height: 1.4em;

      $cart-icon-location-x: -1900px;
      $cart-icon-location-y: -300px;

      @include hdpi-sprite;
      background-position: $cart-icon-location-x $cart-icon-location-y;
      @include hidpi {
        background-position: half-pos($cart-icon-location-x, $cart-icon-location-y);
      }

      @include medium-screen {
        padding-left: 2.4em;

        $cart-icon-location-y: -400px;
        background-position: $cart-icon-location-x $cart-icon-location-y;
      }

      @include large-screen {
        padding-left: 2em;
      }
    }

    > span {
      float: right;
    }
  }

  > div {
    background-color: white;

    @include project-border;

    padding: 2em 2.8em 1em 2.8em;

    > ul {
      margin-bottom: 0;
      padding-bottom: $content-element-margin-bottom;

      @include dashed-border-bottom;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 1em;

      > span {
        &:first-child {
          flex-grow: 1;
        }

        &.cart-product-price {
          color: $grey;
        }
      }

      .fa-times {
        color: $brand-danger;

        @include medium-screen {
          margin-top: 0;
        }
      }

      &.editable {
        .cart-product-price {
          margin-right: -2.9em;
          min-width: 7.2em;
          @include medium-screen {
            margin-right: -2.65em;
            min-width: 0;
          }
          @include large-screen {
            margin-right: -2.025em;
          }
        }
      }

      &.with-edition {
        .cart-product-price {
          margin-top: 0.5em;
        }
      }
    }

    .cart-product-name {
      font-weight: bold;
    }

    @include large-screen {
      padding-left: 5em;
      padding-right: 5em;
    }
  }

  .column-labels {
    color: $well-border-color;
    border-bottom: 1px solid $well-border-color;

    text-transform: uppercase;

    @include clearfix;

    > span {
      float: left;
      &:last-child {
        float: right;
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  // Coupon form
  form {
    padding: 1.5em 0;

    @include dashed-border-bottom;

    > .form-group {
      margin-bottom: 0.5em;
    }

    .btn {
      width: 100%;
    }

    @include medium-screen {
      > .form-group > div {
        display: flex;
      }

      .btn {
        width: auto;
        margin-left: 0.5em;
      }
    }
  }

  #coupon-not-found-error {
    // Default
    margin-left: 0.75em;
  }

  table {
    margin-top: 2em;

    width: 100%;

    .sub-total-row {
      color: $grey;
    }
    .reduction-row {
      color: $primary-btn-color;
    }
    .coupon-row {
      color: $brand-danger;
    }

    td:last-child {
      text-align: right;
    }

    @include medium-screen {
      width: auto;

      td:last-child {
        width: 5em;
      }
    }
  }

  tfoot {
    border-top: 0.5em solid $well-border-color;

    td {
      &:first-child {
        text-transform: uppercase;
        @include tight-letter-spacing;
      }
      &:last-child {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

.guarantee-panel {
  span {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

#documents-section,
#job-you-search-section {
  padding-bottom: $two-column-right-col-padding-bottom - $content-element-margin-bottom;
}

#job-ad-file-upload-form-group {  // Hidden by default
  display: none;
}

#customer-comment-form-group {
  margin-top: $two-column-right-col-margin-top;

  @include large-screen {
    font-size: $two-columns-font-size-large-screen;

    max-width: $two-column-right-col-width;
    margin-left: auto;
    margin-right: auto;
  }
}

#job-ad-required-error {
  margin: -$content-element-margin-bottom 0 $content-element-margin-bottom;
}

#tos-wrapper {
  // Otherwise things get weird when inspecting
  > .checkbox {
    display: inline-block;
    text-align: left;
  }

  @include large-screen {
    font-size: $two-columns-font-size-large-screen;

    > .checkbox > label::before {
      margin-top: 3px;
    }
  }
}


.no-flexbox {
  .two-columns {
    @include large-screen {
      &.widow,
      > div {
        display: block;
        @include clearfix;

        > header {
          float: left;
        }

        > ul,
        > form,
        > div {
          float: right;
        }
      }
    }
  }

  #order-steps-breadcrumbs {
    display: table;

    margin-left: auto;
    margin-right: auto;

    > a,
    > span {
      display: table-cell;
    }
  }

  #cart-section {
    > div li {
      display: block;
      @include clearfix;

      > span {
        float: left;

        &.cart-product-price {
          float: right;
        }
      }
    }

    form > .form-group > div {
      @include medium-screen {
        display: block;
        @include clearfix;

        > input {
          max-width: 77%;
          float: left;
        }

        > button {
          float: right;
        }
      }
    }
  }
}
