#order-step-account-creation {
  #register-with-linkedin-section,
  #register-with-email-section {
    display: none;
  }

  .switch-registration-method {
    margin-bottom: $content-element-margin-bottom;

    > a {
      margin-left: 0.3em;
    }
  }

  .sign-in-with-linkedin {
    margin-bottom: 1em;

    padding-left: 22px;
    @include medium-screen {
      padding-left: 41px;
    }
  }

  #linkedin-preview {
    margin-bottom: $content-element-margin-bottom;
  }
}
