#order-step-product-selection {
  #editions-section {
    margin-top: 3em;

    border-bottom: none;

    li {
      border-style: solid;

      &.selected {
        border: 2px solid $action-color;
      }

      > div {
        display: inline-block;
        vertical-align: top;
      }

      $edition-icon-location-x: -1900px;
      $edition-icon-location-y: 0;

      > .edition-icon {
        margin: 3.1em 0 1em 1em;

        @include hdpi-sprite;
        background-position: $edition-icon-location-x $edition-icon-location-y;
        @include hidpi {
          background-position: half-pos($edition-icon-location-x, $edition-icon-location-y);
        }

        width: 50px;
        height: 50px;
      }

      &.YOUNG_PRO > .edition-icon {
        $edition-icon-location-y: -100px;

        background-position: $edition-icon-location-x $edition-icon-location-y;
        @include hidpi {
          background-position: half-pos($edition-icon-location-x, $edition-icon-location-y);
        }
      }

      &.EXEC > .edition-icon {
        $edition-icon-location-y: -200px;

        background-position: $edition-icon-location-x $edition-icon-location-y;
        @include hidpi {
          background-position: half-pos($edition-icon-location-x, $edition-icon-location-y);
        }
      }

      &.CONSULT > .edition-icon {
        $edition-icon-location-y: -2400px;

        background-position: $edition-icon-location-x $edition-icon-location-y;
        @include hidpi {
          background-position: half-pos($edition-icon-location-x, $edition-icon-location-y);
        }
      }

      &.ACADEMIA > .edition-icon {
        $edition-icon-location-y: -2800px;

        background-position: $edition-icon-location-x $edition-icon-location-y;
        @include hidpi {
          background-position: half-pos($edition-icon-location-x, $edition-icon-location-y);
        }
      }

      > .radio {
        margin-left: -33px;
        margin-right: $spacer-unit-size;

        width: 84%;
      }

      label {
        padding-left: 26px;

        // Because of the increased font size of the contained <span>
        &::before,
        &::after {
          margin-top: 6px;
          @include medium-screen {
            margin-top: 10px;
          }
          @include large-screen {
            margin-top: 6px;
          }
        }

        > span {
          font-size: 1.2em;
          color: $action-color;
          font-weight: bold;

          display: block;
        }
      }

      @include medium-screen {
        .edition-icon {
          margin-top: 1em;
          margin-left: 2em;
          margin-right: 2em;
        }

        .radio {
          margin-left: 0;
          width: 77%;
        }

        label {
          // Default
          padding-left: 5px;
        }
      }
    }
  }
}


.no-flexbox {     // stylelint-disable-line no-empty-block
}
