/* iOS */

html[data-useragent*="iPhone"],
html[data-useragent*="iPad"],
html[data-useragent*="iPod"] {
  #header-nav {
    > a[href="/login"] {
      margin-top: 9px;
    }
  }
}


/* IE */

html[data-useragent*="Trident"] {
}


.no-flexbox {
  #order-steps-breadcrumbs {
    display: table;
    margin: 0 auto;

    > a,
    > span {
      display: table-cell;
    }
  }

  .fg-file-upload > div {
    display: table;
    width: 100%;

    > label,
    > input {
      display: table-cell;
    }
  }

  #order-step-assessment-info {
    $form-group-width: 48%;

    @include medium-screen {
      #position-and-employer-section,
      #url-and-comment-section {
        @include clearfix;

        > .form-group {
          float: right;
          width: $form-group-width;

          &:first-child {
            float: left;
          }
        }
      }
    }

    @include large-screen {
      #documents-section {
        @include clearfix;

        > div {
          float: right;
          width: $form-group-width;

          &:first-child {
            float: left;
          }
        }
      }
    }
  }
}
