/* iOS */

html[data-useragent*="iPhone"],
html[data-useragent*="iPad"],
html[data-useragent*="iPod"] {
  #header-nav {
    > a[href="/login"] {
      margin-top: 9px;
    }
  }
}

/* Flexbox */

// Flexbox progressive enhancements
html[data-useragent*="Chrome"],
html[data-useragent*="Firefox"] {
  #order-steps-breadcrumbs {
    display: flex;
    justify-content: center;

    > a,
    > span {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin: 0 0.2em;
    }
  }
}

/* IE */

html[data-useragent*="Trident"] {
}
