<section class="page-header img-bg centered-contents">
    <div>
        <h1>Utveckla din karriär idag</h1>

        <h2 id="subtitle">Karriärtjänsterna du behöver, när du behöver dem. <strong>Inom 24 timmar.</strong></h2>

        <a href="https://app.cruited.com/order?lang=sv" class="btn btn-primary">Beställ nu</a>

        <a href="#faq">Råd som hjälper dig framåt - eller pengarna tillbaka</a>

        <a href="#how-it-works">
            <p id="how-it-works-text-small-screen">Så kan vi hjälpa dig</p>
            <p id="how-it-works-text-medium-screen">Tusentals personer använder redan Cruited för att skapa ett mer meningsfullt professionellt liv. Se hur vi kan hjälpa dig med din karriär.</p>
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</section>

<section id="how-it-works" class="centered-contents">
    <div class="with-circles">
        <h2>Gör som över 5000 andra</h2>

        <div id="steps">
            <ul class="styleless">
                <li>
                    <h3>Kom igång på mindre än <br />1 minut</h3>
                    <div class="step-image"></div>
                    <p>Beställ snabbt och enkelt utan krångliga steg. Du väljer själv vad du behöver hjälp med och vilka delar som du vill beställa för att ta dig till ett mer meningsfullt professionellt liv.</p>
                </li>
                <li>
                    <h3>Personlig och relevant <br />hjälp av experter</h3>
                    <div class="step-image"></div>
                    <p>Våra råd baseras på fakta utifrån forskning och presenteras till dig personligen av experter på respektive område. Du får alltid relevant stöd och tips som fungerar på riktigt.</p>
                </li>
                <li>
                    <h3>Allt på en och samma plats</h3>
                    <div class="step-image"></div>
                    <p>Hos oss får du ditt egna konto där du har all information samlad och som du kommer åt när du vill. Vi finns här idag, imorgon, om ett år och nästa gång du vill utveckla ditt professionella liv.</p>
                </li>
            </ul>
        </div>

        <a href="https://app.cruited.com/order?lang=sv" class="btn secondary">Priser från 349 kr</a>
    </div>
</section>

<section id="report-preview" class="img-bg centered-contents">
    <div class="with-circles">
        <h2>Personliga råd som gör skillnad</h2>

        <blockquote class="primary dark-bg">
            <p>Jag fick en nittiokilos klockren käftsmäll. Inte mycket var bra med brevet jag hade skrivit. Det nya brevet kommer att betyda mycket framöver även om detta jobb inte blir mitt. Nu är jag verkligen stolt över innehållet och kan stå för det.</p>
            <footer>Per P., sökte jobb som finansiell rådgivare</footer>
        </blockquote>

        <img id="preview-img" src="app/themes/cruited/dist/images/report-preview-devices_640.png">

        <div id="report-preview-body-wrapper">
            <section>
                <ul class="styleless">
                    <li>
                        <div></div>
                        <article>
                            <h3>Personliga och relevanta råd</h3>
                            <p>Personliga råd om de viktigaste förbättringarna du kan göra i din jobbansökan</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Siffror ljuger inte</h3>
                            <p>Du får en poäng 1-100 som visar hur nära den perfekta ansökan du är. Du får även se hur du ligger till jämfört med andra jobbsökande.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Gör ett bra intryck</h3>
                            <p>Du behöver sticka ut från mängden för att få det jobb du vill ha. Vi säkerställer att du undviker klyschorna och att din ansökan inte bara blir en i mängden.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Alltid svar inom 24 timmar</h3>
                            <p>Oavsett om ansökningstiden går ut imorgon eller inte så ska du inte behöva vänta för att komma vidare. Vi levererar inom 24h. Även helger. Till och med julafton och midsommar! </p>
                        </article>
                    </li>
                </ul>

                <a href="https://app.cruited.com/order?lang=sv" class="btn btn-primary">Beställ nu</a>
            </section>

            <div id="preview-img-large-screen"></div>
        </div>
    </div>
</section>

<section id="testimonials" class="centered-contents">
    <div class="with-circles">
        <h2>Rådgivande karriärsamtal</h2>

        <p>När du behöver ett bollplank angående din karriär, ditt jobbsökande eller din professionella utveckling</p>

        <section id="main-testimonial">
            <blockquote class="primary">
                <p>Jag fick hjälp med nya tankesätt, blev peppad att våga ta steget och att det kändes som om just JAG fick den hjälp just JAG behövde.</p>
                <footer>Jenny, sökte jobb som politisk sekreterare</footer>
            </blockquote>
        </section>

        <section id="secondary-testimonials">
            <!-- For design reasons, the testimonial with the longest text should be in the middle -->
            <ul class="styleless">
                <li>
                    <blockquote class="secondary">Tipsen var konkreta, raka, relevanta och jag fick till och med förslag på hur jag skulle omformulera mig. Jag är mycket nöjd med Cruited och kan varmt rekommendera deras tjänster</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Henrik T.</span>
                            <span>VD, granskade sin LinkedIn-profil</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Det är helt klart den mest konstruktiva och givande feedback jag fått! Jag tar till mig allt!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Jennie A.</span>
                            <span>Sökte jobb som operativ projektledare</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Otroligt bra och nyttig feedback!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Stina B.</span>
                            <span>Sökte jobb som inköpsassistent</span>
                        </article>
                    </footer>
                </li>
            </ul>
        </section>

        <a href="https://app.cruited.com/order?lang=sv" class="btn secondary">Beställ nu</a>
    </div>
</section>

<section id="our-methodology" class="img-bg centered-contents">
    <div>
        <h2>Personlighet, potential och kultur</h2>
        <p>Cruited använder en unik egenutvecklad metod för att du ska lyckas komma dit du vill i din karriär. Vi fokuserar på de faktorer som blir allt viktigare på jobbmarknaden: <strong>personlighet, värderingar, potential och kulturell matchning</strong>.</p>
        <a href="/var-metod" class="btn">Vår metod</a>
    </div>
</section>

<section id="faq" class="centered-contents">
    <div class="with-circles">
        <h2>Vi hjälper gärna till!</h2>

        <ul class="styleless">
            <li>
                <div>
                    <span>Är era tjänster anpassade för vilket jobb och vilka branscher som helst?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har hjälpt personer inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän. Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot är våra tjänster för närvarande anpassade för arbetsmarknaden och jobbsök inom Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Fungerar era tjänster både för privat näringsliv och offentlig sektor?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Visst kan det finnas skillnader i hur en rekrytering går till i privat näringsliv jämfört med offentlig sektor, men inga som påverkar vår metod.</p>
            </li>
            <li>
                <div>
                    <span>Kan ni skriva brev och CV åt mig eller göra ändringar på LinkedIn?</span>
                    <button class="styleless"></button>
                </div>
                <p>Nej. Du får veta vad du behöver förbättra för att bli mer relevant för rekryteraren. Många råd du får kommer du att kunna åtgärda själv på några minuter. Andra kommer att kräva lite mer jobb. Ett återkommande problem när det kommer till jobbsökande är att personligheten inte finns där. Just därför är det i de allra flesta fall bäst att skriva själv. Bedömningen kommer att föra dig snabbare framåt och göra det lättare eftersom du vet vad du ska fokusera på.</p>
            </li>
            <li>
                <div>
                    <span>Hur fungerar pengarna-tillbaka-garantin?</span>
                    <button class="styleless"></button>
                </div>
                <p>Enkelt. Om du inte hört från oss enligt utlovat (inte blivit uppringd på utsatt tid eller fått din bedömning inom 24 timmar) eller om du inte tycker att våra råd hjälpt dig så mejlar du kontakt@cruited.com och får pengarna tillbaka.</p>
            </li>
            <li>
                <div>
                    <span>Är det här ett automatiskt verktyg?</span>
                    <button class="styleless"></button>
                </div>
                <p>Cruited är inte ett automatiskt verktyg. Varje bedömning görs manuellt av en av våra experter. Tack vare vår metod och ett tekniskt verktyg så kan vi hålla priset mycket lågt samtidigt som vi ger mycket kvalificerade råd.</p>
            </li>
            <li>
                <div>
                    <span>Om jag inte börjat skriva min ansökan än...?</span>
                    <button class="styleless"></button>
                </div>
                <p>Då behöver du ta de första stegen och skriva i alla fall något. Genom att ladda upp för bedömning tidigt får du också veta vad som saknas eller vad du ska trycka mer på. På så sätt sparar du tid. Att skriva en jobbansökan är inte gjort på några minuter (i alla fall inte om du verkligen vill ha en chans till intervju). Men om du ger det 20 minuter och sen beställer en granskning så kommer du garanterat att komma snabbare framåt! Gör det nu så är du igång!</p>
            </li>
            <li>
                <div>
                    <span>Något annat du undrar över?</span>
                    <button class="styleless"></button>
                </div>
                <p>Då hör du av dig till kontakt@cruited.com så hjälper vi till. Vi finns här för att hjälpa dig och svarar inom 24 timmar.</p>
            </li>
        </ul>
    </div>
</section>
