<section class="page-header img-bg centered-contents">
    <div>
        <h1>Din jobbansökan fungerar inte</h1>

        <h2 id="subtitle">Ta reda på varför. Gör en proffsbedömning. <strong>Från 299 kr.</strong></h2>

        <a href="https://app.cruited.com/order" class="btn btn-primary">Beställ nu</a>

        <a href="#faq">Råd som hjälper dig framåt - eller pengarna tillbaka</a>

        <a href="#how-it-works">
            <p id="how-it-works-text-small-screen">Så kan vi hjälpa dig</p>
            <p id="how-it-works-text-medium-screen">Tusentals personer använder redan Cruited för att maximera sina chanser till intervju. Se hur vi kan hjälpa dig med din jobbansökan</p>
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</section>

<section id="how-it-works" class="centered-contents">
    <div class="with-circles">
        <h2>Gör som 1000-tals andra</h2>

        <div id="steps">
            <ul class="styleless">
                <li>
                    <h3>Välj vad du vill granska</h3>
                    <div class="step-image"></div>
                    <p>Ladda enkelt upp cv eller personligt brev. Eller logga in med LinkedIn om du vill granska din profil där. Ange vilket jobb du söker så kan vi ge ännu bättre råd. Dina dokument skickas krypterade och behandlas strikt konfidentiellt.</p>
                </li>
                <li>
                    <h3>Våra experter granskar</h3>
                    <div class="step-image"></div>
                    <p>En av våra jobbexperter granskar din ansökan. Varje granskning görs manuellt enligt en dokumenterad och beprövad metod. Vi tittar på 168 olika kriterier, baserade på forskning och samlad expertis från arbetsgivare, rekryterare, headhunters och karriärrådgivare.</p>
                </li>
                <li>
                    <h3>Få din bedömning</h3>
                    <div class="step-image"></div>
                    <p>Inom 24 timmar får du svar. Du får personliga råd om vad du behöver förbättra för att göra din ansökan starkare. Du får även en siffra som anger konkret hur stark din ansökan är i förhållande till andra.</p>
                </li>
            </ul>
        </div>

        <a href="https://app.cruited.com/order" class="btn secondary">Priser och erbjudanden</a>
    </div>
</section>

<section id="report-preview" class="img-bg centered-contents">
    <div class="with-circles">
        <h2>Personliga råd som gör skillnad</h2>

        <blockquote class="primary dark-bg">
            <p>Jag fick en nittiokilos klockren käftsmäll. Inte mycket var bra med brevet jag hade skrivit. Det nya brevet kommer att betyda mycket framöver även om detta jobb inte blir mitt. Nu är jag verkligen stolt över innehållet och kan stå för det.</p>
            <footer>Per P., sökte jobb som finansiell rådgivare</footer>
        </blockquote>

        <img id="preview-img" src="app/themes/cruited/dist/images/report-preview-devices_640.png">

        <div id="report-preview-body-wrapper">
            <section>
                <ul class="styleless">
                    <li>
                        <div></div>
                        <article>
                            <h3>Personliga och relevanta råd</h3>
                            <p>Personliga råd om de viktigaste förbättringarna du kan göra i din jobbansökan</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Siffror ljuger inte</h3>
                            <p>Du får en poäng 1-100 som visar hur nära den perfekta ansökan du är. Du får även se hur du ligger till jämfört med andra jobbsökande.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Gör ett bra intryck</h3>
                            <p>Du behöver sticka ut från mängden för att få det jobb du vill ha. Vi säkerställer att du undviker klyschorna och att din ansökan inte bara blir en i mängden.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Alltid svar inom 24 timmar</h3>
                            <p>Oavsett om ansökningstiden går ut imorgon eller inte så ska du inte behöva vänta för att komma vidare. Vi levererar inom 24h. Även helger. Till och med julafton och midsommar! </p>
                        </article>
                    </li>
                </ul>

                <a href="https://app.cruited.com/order" class="btn btn-primary">Beställ nu</a>
            </section>

            <div id="preview-img-large-screen"></div>
        </div>
    </div>
</section>

<section id="testimonials" class="centered-contents">
    <div class="with-circles">
        <h2>Maximera chanserna att få jobbet</h2>

        <p>Vi har hjälpt över 3.000 personer att öka sina chanser till jobbet de vill ha</p>

        <section id="main-testimonial">
            <blockquote class="primary">
                <p>Guess what! Under dessa 4 dagar har jag fått 4 mail varav ett var ett jobberbjudande! Om det inte är betyg nog för Cruiteds granskning så vet jag inte vad!</p>
                <footer>Liza. sökte jobb som antikvarie</footer>
            </blockquote>
        </section>

        <section id="secondary-testimonials">
            <!-- For design reasons, the testimonial with the longest text should be in the middle -->
            <ul class="styleless">
                <li>
                    <blockquote class="secondary">Tipsen var konkreta, raka, relevanta och jag fick till och med förslag på hur jag skulle omformulera mig. Jag är mycket nöjd med Cruited och kan varmt rekommendera deras tjänster</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Henrik T.</span>
                            <span>VD, granskade sin LinkedIn-profil</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Det är helt klart den mest konstruktiva och givande feedback jag fått! Jag tar till mig allt och ska ge mig själv en dag att fila på det personliga brevet innan jag skickar tillbaka det till er igen!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Jennie A.</span>
                            <span>Sökte jobb som operativ projektledare</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Otroligt bra och nyttig feedback!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Stina B.</span>
                            <span>Sökte jobb som inköpsassistent</span>
                        </article>
                    </footer>
                </li>
            </ul>
        </section>

        <a href="https://app.cruited.com/order" class="btn secondary">Beställ nu</a>
    </div>
</section>

<section id="our-methodology" class="img-bg centered-contents">
    <div>
        <h2>Personlighet, potential och kultur</h2>
        <p>Cruited använder en unik egenutvecklad metod för att analysera en jobbansökan och maximera chanserna till intervju. Vi fokuserar på de faktorer som blir allt viktigare på jobbmarknaden: <strong>personlighet, värderingar, potential och kulturell matchning</strong>.</p>
        <a href="/var-metod" class="btn">Vår metod</a>
    </div>
</section>

<section id="faq" class="centered-contents">
    <div class="with-circles">
        <h2>Behöver du veta mer?</h2>

        <p>Vi hjälper gärna till!</p>

        <ul class="styleless">
            <li>
                <div>
                    <span>Kan ni granska ansökningar till vilket jobb som helst?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Fungerar det här både för privat näringsliv och offentlig sektor?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Visst kan det finnas skillnader i hur en rekrytering går till i privat näringsliv jämfört med offentlig sektor, men inga som påverkar vår metod.</p>
            </li>
            <li>
                <div>
                    <span>Skriver ni brev och CV åt mig?</span>
                    <button class="styleless"></button>
                </div>
                <p>Nej. Du får veta vad du behöver förbättra för att bli mer relevant för rekryteraren. Många råd du får kommer du att kunna åtgärda själv på några minuter. Andra kommer att kräva lite mer jobb. Ett återkommande problem i jobbansökningar är att personligheten inte finns där. Just därför är det i de allra flesta fall bäst att skriva själv. Granskningen kommer att föra dig snabbare framåt och göra det lättare eftersom du vet vad du ska fokusera på.</p>
            </li>
            <li>
                <div>
                    <span>Hur fungerar pengarna-tillbaka-garantin?</span>
                    <button class="styleless"></button>
                </div>
                <p>Enkelt. Om du inte fått din granskning inom 24 timmar eller tycker att den inte hjälpt dig att förbättra din ansökan så mejlar du kontakt@cruited.com och får pengarna tillbaka.</p>
            </li>
            <li>
                <div>
                    <span>Är det här ett automatiskt verktyg?</span>
                    <button class="styleless"></button>
                </div>
                <p>Cruited är inte ett automatiskt verktyg. Vi granskar varje jobbansökan manuellt. Tack vare vår metod och ett tekniskt verktyg så kan vi hålla priset mycket lågt samtidigt som vi ger mycket kvalificerade råd.</p>
            </li>
            <li>
                <div>
                    <span>Om jag inte börjat skriva min ansökan än...?</span>
                    <button class="styleless"></button>
                </div>
                <p>Då behöver du ta de första stegen och skriva i alla fall något. Genom att ladda upp för granskning tidigt får du också veta vad som saknas eller vad du ska trycka mer på. På så sätt sparar du tid. Att skriva en jobbansökan är inte gjort på några minuter (i alla fall inte om du verkligen vill ha en chans till intervju). Men om du ger det 20 minuter och sen beställer en granskning så kommer du garanterat att komma snabbare framåt! Gör det nu så är du igång!</p>
            </li>
            <li>
                <div>
                    <span>Något annat du undrar över?</span>
                    <button class="styleless"></button>
                </div>
                <p>Då hör du av dig till kontakt@cruited.com så hjälper vi till. Vi är hjälpsamma och glada och svarar inom 24 timmar :)</p>
            </li>
        </ul>
    </div>
</section>
