<section class="page-header img-bg centered-contents">
    <div>
        <h1>Skriv starkare jobbansökningar som leder till bättre jobb</h1>

        <h2 id="subtitle">Professionell granskning av CV, personligt brev och LinkedIn-profil. <strong>Från 299 kr.</strong></h2>

        <a href="/users/select-document" class="btn btn-primary">Beställ nu</a>

        <a href="#faq">100% nöjd - eller pengarna tillbaka - Leverans inom 24 timmar</a>

        <a href="#how-it-works">
            <p id="how-it-works-text-small-screen">Så kan vi hjälpa dig</p>
            <p id="how-it-works-text-medium-screen">Tusentals personer använder redan Cruited för att maximera sina chanser till intervju. Se hur vi kan hjälpa dig med din jobbansökan</p>
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</section>

<section id="how-it-works" class="centered-contents">
    <div class="with-circles">
        <h2>Så här funkar det</h2>

        <div id="steps">
            <ul class="styleless">
                <li>
                    <h3>Välj vad du vill granska</h3>
                    <div class="step-image"></div>
                    <p>Ladda enkelt upp dina dokument online eller logga in via LinkedIn. Ange vilket jobb du söker och få ditt svar skräddarsytt efter detta. Dina dokument är säkra med oss och behandlas strikt konfidentiellt.</p>
                </li>
                <li>
                    <h3>Våra experter granskar</h3>
                    <div class="step-image"></div>
                    <p>En av våra karriäragenter granskar din ansökan. Vår metod utgår från 168 olika kriterier, baserade på forskning och samlad expertis från arbetsgivare, rekryterare, headhunters och karriärrådgivare.</p>
                </li>
                <li>
                    <h3>Få ditt svar</h3>
                    <div class="step-image"></div>
                    <p>Inom 24 timmar får du svar. Du får personliga råd om vad du behöver förbättra för att göra din ansökan starkare. Du får även se konkret hur stark din ansökan är i förhållande till andra.</p>
                </li>
            </ul>
        </div>

        <a href="/users/select-document" class="btn secondary">Se våra priser</a>
    </div>
</section>

<section id="report-preview" class="img-bg centered-contents">
    <div class="with-circles">
        <h2>Personliga råd som gör skillnad</h2>

        <blockquote class="primary dark-bg">
            <p>Cruited hade inom ett dygn granskat min profil och skrivit ett ingående och personligt svar med tips på de delar som jag skulle kunna förbättra.</p>
            <footer>Vanja Gauffin</footer>
        </blockquote>

        <img id="preview-img" src="app/themes/cruited/dist/images/report-preview-devices_640.png">

        <div id="report-preview-body-wrapper">
            <section>
                <ul class="styleless">
                    <li>
                        <div></div>
                        <article>
                            <h3>Personliga och relevanta råd</h3>
                            <p>Personliga råd om de viktigaste förbättringarna du kan göra i din jobbansökan</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Siffror ljuger inte</h3>
                            <p>Du får en poiäng 1-100 som visar hur nära den perfekta ansökan du är. Så vet du också hur du ligger till jämfört med andra.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Gör ett bra intryck</h3>
                            <p>Du behöver sticka ut från mängden för att få det jobb du vill ha. Vi säkerställer att du inte bara blir en i mängden.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Alltid inom 24 timmar</h3>
                            <p>Oavsett om ansökningstiden går ut imorgon eller inte så ska du inte behöva vänta för att komam vidare. Vi levererar inom 24h, även helger.</p>
                        </article>
                    </li>
                </ul>

                <a href="/users/select-document" class="btn btn-primary">Beställ nu</a>
            </section>

            <div id="preview-img-large-screen"></div>
        </div>
    </div>
</section>

<section id="testimonials" class="centered-contents">
    <div class="with-circles">
        <h2>Förbättra din jobbansökan idag</h2>

        <p>1000-tals använder Cruited för att maxa chanserna till jobbet de älskar</p>

        <section id="main-testimonial">
            <blockquote class="primary">
                <p>Det är helt klart den mest konstruktiva och givande feedback jag fått! Jag tar till mig allt och ska ge mig själv en dag att fila på det personliga brevet innan jag skickar tillbaka det till dig igen!</p>
                <footer>Jennie Adalberth, sökte jobb som projektledare</footer>
            </blockquote>
        </section>

        <section id="secondary-testimonials">
            <!-- For design reasons, the testimonial with the longest text should be in the middle -->
            <ul class="styleless">
                <li>
                    <blockquote class="secondary">Tackar så mycket för många bra kommentarer och tips, nu förstår jag bättre hur jag ska tänka när jag skriver ansökningar. Jag kommer fortsätta slipa lite mer på brevet innan det skickas iväg.</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Emma J.</span>
                            <span>Sökte jobb som projektledare</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Fantastisk tjänst, bra konstruktiv kritik. Skrivit om mitt brev nu med er hjälp och hoppas på det bästa!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Emma R.</span>
                            <span>Sökte jobb som butikschef</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">“Jag hade bara skrivit ett utkast men laddade upp för att testa. Kan bara säga att jag önskar jag gjort det ännu tidigare! Sparade massa tid eftersom råden sa vad jag borde skriva mer om och inte. Stort tack!”</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Aaron C.</span>
                            <span>Sökte butiksjobb</span>
                        </article>
                    </footer>
                </li>
            </ul>
        </section>

        <a href="/vara-kunder" class="btn secondary">Fler som gillar oss</a>
    </div>
</section>

<section id="cruited-fits-you" class="img-bg">
    <div>
        <h2>Personlighet, potential<br>
            och kultur.</h2>

        <p>Cruited använder en unik egenutvecklad metod för att analysera en jobbansökan och maximera chanserna till intervju. Vi fokuserar på de faktorer som blir allt viktigare på jobbmarknaden: <strong>personlighet, värderingar, potential och kulturell matchning</strong>. </p>

        <p>We target professionals who are active in their choices about their career, and care about what they do, and why they do it.</p>

        <p>Our global mission is to show opportunities, provide new perspectives, new approaches and renewed energy. We are passionate about people who believe in themselves,
            who know that they will get the job, who are interested to develop and continue to explore the world. They want to accomplish something - they think that the job
            will be much more than just a job.</p>
    </div>
</section>

<section id="faq" class="centered-contents">
    <div class="with-circles">
        <h2>Frequently Asked Questions</h2>

        <p>Here's a few answers to our most common questions.</p>

        <ul class="styleless">
            <li>
                <div>
                    <span>Can you examine applications for any job?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Does this work for both the private and public sector?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Does this work for both the private and public sector?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Does this work for both the private and public sector?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Does this work for both the private and public sector?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Does this work for both the private and public sector?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Does this work for both the private and public sector?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
        </ul>
    </div>
</section>
