<section class="page-header img-bg centered-contents">
    <div>
        <h1>Your Job Application Doesn't Work</h1>

        <h2 id="subtitle">Professional Review of Your Resumé, Cover Letter and LinkedIn Profile. <strong>From $29.</strong></h2>

        <a href="https://app.cruited.com/order" class="btn btn-primary">Order Now</a>

        <a href="#faq">Personal Advice that Actually Work, Within 24 hrs. 100% Money Back Guarantee. </a>

        <a href="#how-it-works">
            <p id="how-it-works-text-small-screen">1000s Use 99resumes</p>
            <p id="how-it-works-text-medium-screen">Thousands use 99resumes to maximize the chances of getting an interview. </p>
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</section>

<section id="how-it-works" class="centered-contents">
    <div class="with-circles">
        <h2>How it works</h2>

        <div id="steps">
            <ul class="styleless">
                <li>
                    <h3>Select what to review</h3>
                    <div class="step-image"></div>
                    <p>Upload your cv or cover letter. Or sign in with LinkedIn to review your profile. Specify what job you're looking (optional). Your files are sent encrypted and treated with confidentiality.</p>
                </li>
                <li>
                    <h3>Our experts do their magic</h3>
                    <div class="step-image"></div>
                    <p>One of our experts will review your application or LinkedIn profile. Every review is done manually according to our proven method. We check more than 168 different criteria, based on research and on expertise from employers, recruiters, headhunters and career advisors.</p>
                </li>
                <li>
                    <h3>Get your personal advice</h3>
                    <div class="step-image"></div>
                    <p>Within 24 hours you can access a report with personal advice on what to improve to make your application stronger. You also get a score so you know exactly how you're doing.</p>
                </li>
            </ul>
        </div>

        <a href="https://app.cruited.com/order" class="btn secondary">Pricing and Deals</a>
    </div>
</section>

<section id="report-preview" class="img-bg centered-contents">
    <div class="with-circles">
        <h2>Personal Advice That Make a Difference</h2>

        <blockquote class="primary dark-bg">
            <p>I was knocked down. There wasn't much that I had done well enough in my Cover Letter. Now I have a letter I'm proud of with a content I can identify with.</p>
            <footer>Per, applied for a job as financial advisor</footer>
        </blockquote>

        <img id="preview-img" src="app/themes/cruited/dist/images/report-preview-devices_640.png">

        <div id="report-preview-body-wrapper">
            <section>
                <ul class="styleless">
                    <li>
                        <div></div>
                        <article>
                            <h3>Personal and relevant advice</h3>
                            <p>Personal advice with the most important improvements you can make in your job application</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Numbers don't lie</h3>
                            <p>You get a score of 1-100 that shows you how close you are to the perfect application. Compare your score with others to find out how you're doing.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Make a Good Impression</h3>
                            <p>You need to stand out from the crowd to get the job you want. We secure that you avoid the clichés and that your application isn't just lost in the pile.</p>
                        </article>
                    </li>
                    <li>
                        <div></div>
                        <article>
                            <h3>Results within 24 hrs</h3>
                            <p>Have a tight deadline? Expiring time to apply? We get your review done within 24hrs, 7 days/week. Even Christmas and New Years'!</p>
                        </article>
                    </li>
                </ul>

                <a href="https://app.cruited.com/order" class="btn btn-primary">Get Started Now</a>
            </section>

            <div id="preview-img-large-screen"></div>
        </div>
    </div>
</section>

<section id="testimonials" class="centered-contents">
    <div class="with-circles">
        <h2>Don't Rely on Luck</h2>

        <p>We've Helped 3000+ to Improve Their Job Applications</p>

        <section id="main-testimonial">
            <blockquote class="primary">
                <p>Guess what! During 4 days I've received 4 e-mails from recruiters and one was an offer! </p>
                <footer>Liza, applied for jobs in project management</footer>
            </blockquote>
        </section>

        <section id="secondary-testimonials">
            <!-- For design reasons, the testimonial with the longest text should be in the middle -->
            <ul class="styleless">
                <li>
                    <blockquote class="secondary">Tipsen var konkreta, raka, relevanta och jag fick till och med förslag på hur jag skulle omformulera mig. Jag är mycket nöjd med Cruited och kan varmt rekommendera deras tjänster</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Henrik T.</span>
                            <span>VD, granskade sin LinkedIn-profil</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Det är helt klart den mest konstruktiva och givande feedback jag fått! Jag tar till mig allt och ska ge mig själv en dag att fila på det personliga brevet innan jag skickar tillbaka det till er igen!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Jennie A.</span>
                            <span>Sökte jobb som operativ projektledare</span>
                        </article>
                    </footer>
                </li>
                <li>
                    <blockquote class="secondary">Otroligt bra och nyttig feedback!</blockquote>
                    <footer>
                        <div></div>
                        <article>
                            <span>Stina B.</span>
                            <span>Sökte jobb som inköpsassistent</span>
                        </article>
                    </footer>
                </li>
            </ul>
        </section>

        <a href="https://app.cruited.com/order" class="btn secondary">Get Started Now</a>
    </div>
</section>

<section id="our-methodology" class="img-bg centered-contents">
    <div>
        <h2>Personality, Potential and Culture</h2>
        <p>We use a unique method to analyze your job application and maximize your changes of getting an interview. We focus on things that have increasingly important on job market: <strong>personal characteristics, values, potential and cultural fit</strong>.</p>
        <a href="/var-metod" class="btn">Our Method</a>
    </div>
</section>

<section id="faq" class="centered-contents">
    <div class="with-circles">
        <h2>We're Here to Help!</h2>

        <ul class="styleless">
            <li>
                <div>
                    <span>Kan ni granska ansökningar till vilket jobb som helst?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Vi har granskat personliga brev och cv:n inom så gott som alla branscher och till en rad tjänster, inom såväl industri, som handel, service och tjänstemän.
                    Även om branscher och jobb skiljer sig åt så har vi sett att de råd som ger jobb, i mycket stor utsträckning är desamma. Däremot granskar vi för närvarande
                    enbart ansökningar till jobb i Sverige.</p>
            </li>
            <li>
                <div>
                    <span>Fungerar det här både för privat näringsliv och offentlig sektor?</span>
                    <button class="styleless"></button>
                </div>
                <p>Ja. Visst kan det finnas skillnader i hur en rekrytering går till i privat näringsliv jämfört med offentlig sektor, men inga som påverkar vår metod.</p>
            </li>
            <li>
                <div>
                    <span>Skriver ni brev och CV åt mig?</span>
                    <button class="styleless"></button>
                </div>
                <p>Nej. Du får veta vad du behöver förbättra för att bli mer relevant för rekryteraren. Många råd du får kommer du att kunna åtgärda själv på några minuter. Andra kommer att kräva lite mer jobb. Ett återkommande problem i jobbansökningar är att personligheten inte finns där. Just därför är det i de allra flesta fall bäst att skriva själv. Granskningen kommer att föra dig snabbare framåt och göra det lättare eftersom du vet vad du ska fokusera på.</p>
            </li>
            <li>
                <div>
                    <span>Hur fungerar pengarna-tillbaka-garantin?</span>
                    <button class="styleless"></button>
                </div>
                <p>Enkelt. Om du inte fått din granskning inom 24 timmar eller tycker att den inte hjälpt dig att förbättra din ansökan så mejlar du kontakt@cruited.com och får pengarna tillbaka.</p>
            </li>
            <li>
                <div>
                    <span>Är det här ett automatiskt verktyg?</span>
                    <button class="styleless"></button>
                </div>
                <p>Cruited är inte ett automatiskt verktyg. Vi granskar varje jobbansökan manuellt. Tack vare vår metod och ett tekniskt verktyg så kan vi hålla priset mycket lågt samtidigt som vi ger mycket kvalificerade råd.</p>
            </li>
            <li>
                <div>
                    <span>Om jag inte börjat skriva min ansökan än...?</span>
                    <button class="styleless"></button>
                </div>
                <p>Då behöver du ta de första stegen och skriva i alla fall något. Genom att ladda upp för granskning tidigt får du också veta vad som saknas eller vad du ska trycka mer på. På så sätt sparar du tid. Att skriva en jobbansökan är inte gjort på några minuter (i alla fall inte om du verkligen vill ha en chans till intervju). Men om du ger det 20 minuter och sen beställer en granskning så kommer du garanterat att komma snabbare framåt! Gör det nu så är du igång!</p>
            </li>
            <li>
                <div>
                    <span>Något annat du undrar över?</span>
                    <button class="styleless"></button>
                </div>
                <p>Då hör du av dig till kontakt@cruited.com så hjälper vi till. Vi är hjälpsamma och glada och svarar inom 24 timmar :)</p>
            </li>
        </ul>
    </div>
</section>
