@(account: Option[Account], ordersToDisplayAtTheTop: List[frontend.FrontendOrder])

@main("Rater - Home", "order-list") {
<!--
    Header
-->
@header(account)

} {
<!--
    Javascript
-->
<script type="text/javascript">
    var account = undefined;
    @if(account.isDefined) {
        account = "@account.get";
    }

    CR.ControllerData = {
        ordersToDisplayAtTheTop: @Html(play.api.libs.json.Json.toJson(ordersToDisplayAtTheTop).toString())
    };
</script>

<script type="text/javascript" src="@routes.Assets.versioned("scripts/orderList.js")"></script>
}
