h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-rendering: optimizelegibility;

  margin: 2em 0 $content-element-margin-bottom 0;

  > a {
    line-height: 1.2;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: $action-color;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;

  margin: 0;
  padding: 2em 0 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;

  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}
