.archive {
  article.post {
    > header,
    > .entry-summary {
      padding: 0 $spacer-unit-size;

      @include medium-screen {
        width: $medium-content-width;

        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
      }

      @include large-screen {
        font-size: #{$font-size-base-px * $medium-screen-ratio-m}px;
        width: $large-content-width-more-readable;
      }
    }

    > header {
      background-image: none;

      h1,
      h2,
      time,
      a {
        text-shadow: none;
      }

      > h2 {
        margin-bottom: 0.5em;
      }

      time {
        margin-top: 0;
      }
    }
  }

  .main > .posts-navigation {
    padding: 0 $spacer-unit-size;
    margin: $spacer-unit-size*2.5 auto 0 auto;

    @include medium-screen {
      padding: 0;

      max-width: $medium-content-width;
    }

    @include large-screen {
      max-width: $large-content-width-more-readable;
    }
  }

  > footer {
    $footer-margin-top: $spacer-unit-size * 2.5;
    margin-top: $footer-margin-top;
    @include medium-screen {
      margin-top: $footer-margin-top * $medium-screen-ratio-l;
    }
  }
}
