footer.content-info {
  #bottom-hero {
    background-image: url(../images/bottom-hero_640.jpg);
    background-position: 80% 80%;

    @media screen and (min-width: 641px), screen and (min-resolution: 2dppx) {
      background-image: url(../images/bottom-hero_1920.jpg);
    }

    > div {
      padding: 8em $spacer-unit-size;

      @include medium-screen {
        width: $medium-content-width;

        padding: 5em 0;

        margin: 0 auto;
      }

      @include large-screen {
        width: $large-content-width;

        text-align: left;
      }

      > h2 {
        margin: 0 0 $spacer-unit-size*1.75 0;

        @include large-screen {
          max-width: 13em;
        }
      }
    }
  }

  #footer-proper {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url(../images/section-circles-flipped_263.png);
    @media screen and (min-resolution: 2dppx) and (max-width: $medium-content-width) {
      background-image: url(../images/section-circles-flipped_526.png);
      background-size: 263px 80px;
    }

    $footer-padding-top: $spacer-unit-size * 1.75;
    padding-top: $footer-padding-top;
    padding-bottom: 7em;

    > h2 {
      margin-top: 0;
      font-size: 34px;
    }

    @include medium-screen {
      background-image: url(../images/section-circles-large-flipped.png);

      width: $medium-content-width;
      margin: 0 auto;

      padding-top: $footer-padding-top * $medium-screen-ratio-l;
      padding-bottom: 10em;
    }

    @include large-screen {
      width: $large-content-width;

      padding-top: $footer-padding-top * $large-screen-ratio-l;
      padding-bottom: 7em;

      display: flex;
      justify-content: space-between;

      > h2 {
        margin-top: 0.1em;
      }

      > div {
        display: flex;
        justify-content: space-between;

        width: 37.5em;
      }
    }
  }

  .customer-service,
  .widget_mc4wp_widget {
    font-size: #{$font-size-base-px}px;
  }

  .customer-service {
    margin-bottom: 2em;

    > span {
      display: block;
      font-weight: lighter;
    }

    .contact {
      font-weight: bold;
      color: $action-color;
    }

    &.large-screen {
      display: none;

      text-align: left;

      width: 333px;

      $contact-large-screen-margin: 0.5em;

      > span {
        margin-left: $contact-large-screen-margin;
      }

      > div {
        font-weight: bold;
        color: $action-color;
      }

      .contact {
        display: inline-block;

        font-size: 13px;

        margin: 0 $contact-large-screen-margin;
      }
    }

    @include large-screen {
      &.small-screen {
        display: none;
      }
      &.large-screen {
        display: block;
      }
    }
  }

  .widget_mc4wp_widget > h3 {
    color: $grey-text-color;
  }

  @include large-screen {
    .widget_mc4wp_widget {
      width: 520px;

      padding-top: 0.4em;

      > h3 {
        font-size: 15px;
        margin-top: 0.5em;
      }
    }

    .mc4wp-form {
      display: inline-block;
      vertical-align: top;
    }
  }
}
