.wrap {
  font-weight: lighter;
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;

  background-image: url(../images/default-page-hero-bg_640.jpg);

  @media screen and (min-width: 641px), screen and (min-resolution: 2dppx) {
    background-image: url(../images/default-page-hero-bg_1920.jpg);
  }

  $page-header-h1-bottom-margin: 40px;

  > div {
    margin: 0 auto;

    $page-header-padding-top: $spacer-unit-size * 1.75;
    $page-header-padding-bottom: $spacer-unit-size * 5;
    padding: $page-header-padding-top $spacer-unit-size $page-header-padding-bottom $spacer-unit-size;
    @include medium-screen {
      padding-top: $page-header-padding-top * $medium-screen-ratio-l;
      padding-left: 0;
      padding-right: 0;
    }
    @include large-screen {
      padding-top: $page-header-padding-top * $large-screen-ratio-l;
    }
  }

  h1 {
    margin: 3em 0 $page-header-h1-bottom-margin 0;

    @include medium-screen {
      margin-bottom: $page-header-h1-bottom-margin * $medium-screen-ratio-l;
    }

    @include large-screen {
      margin-bottom: $page-header-h1-bottom-margin * $large-screen-ratio-l;

      font-size: 2.2em;
    }
  }

  #subtitle {
    font-size: 1em;
    font-weight: lighter;

    $subtitle-margin-top: -($page-header-h1-bottom-margin * 0.7);
    $subtitle-margin-bottom: 2em;
    margin: $subtitle-margin-top 0 $subtitle-margin-bottom 0;
    @include medium-screen {
      margin: $subtitle-margin-top*$medium-screen-ratio-l 0 $subtitle-margin-bottom*$medium-screen-ratio-l 0;
    }
    @include large-screen {
      margin: $subtitle-margin-top*$large-screen-ratio-l 0 $subtitle-margin-bottom*$large-screen-ratio-l 0;
    }
  }
}

.main {
  > .page-content {
    $section-padding-top: $spacer-unit-size * 6;
    $section-padding-bottom: $spacer-unit-size * 2.5;

    padding: $section-padding-top $spacer-unit-size $section-padding-bottom $spacer-unit-size;

    @include medium-screen {
      padding-top: $section-padding-top * $medium-screen-ratio-l;
      padding-bottom: $section-padding-bottom * $medium-screen-ratio-l;

      width: $medium-content-width;

      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;
    }
  }

  @include large-screen {
    > .page-content {
      font-size: #{$font-size-base-px * $medium-screen-ratio-m}px;
      width: 720px;
    }

    > section > div {
      width: $large-content-width;
    }
  }
}

.img-bg {
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;

  color: $background-body-color;

  h1,
  h2,
  h3,
  p,
  span {
    @include text-shadow;
  }

  h2 {
    color: $background-body-color;
  }
}

.with-circles {
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../images/section-circles_263.png);
  @media screen and (min-resolution: 2dppx) and (max-width: $medium-content-width) {
    background-image: url(../images/section-circles_526.png);
    background-size: 263px 80px;
  }

  @include medium-screen {
    background-image: url(../images/section-circles-large.png);
  }
}

.img-bg .with-circles {
  background-image: url(../images/section-circles-dark-bg_263.png);
  @media screen and (min-resolution: 2dppx) and (max-width: $medium-content-width) {
    background-image: url(../images/section-circles-dark-bg_526.png);
  }

  @include medium-screen {
    background-image: url(../images/section-circles-large-dark-bg.png);
  }
}

a[href$="#faq"] {
  font-weight: lighter;
  color: $background-body-color;
  font-size: $font-size-small;
  opacity: 0.8;

  display: block;
  margin-top: 0.5em;
}
