article > header time {
  display: block;

  margin-top: - ($page-header-h1-vertical-margin - 10px);
  @include medium-screen {
    margin-top: - ($page-header-h1-vertical-margin-medium-screen - 2vw);
  }
}

.byline.author {
  margin-bottom: $page-header-h1-vertical-margin;
  @include medium-screen {
    margin-bottom: $page-header-h1-vertical-margin-medium-screen;
  }
}

body.single {
  .byline.author > a {
    color: $background-body-color;
    text-decoration: underline;
  }
}
