body.single {
  article.post > header {
    time {
      display: block;

      margin-top: - ($page-header-h1-vertical-margin - 10px);
      @include medium-screen {
        margin-top: - ($page-header-h1-vertical-margin-medium-screen - 2vw);
      }
    }

    .byline.author {
      margin-bottom: $page-header-h1-vertical-margin;
      @include medium-screen {
        margin-bottom: $page-header-h1-vertical-margin-medium-screen;
      }

      > a {
        color: $background-body-color;
        text-decoration: underline;
      }
    }

    &.no-img {
      time {
        margin-top: - $page-header-h1-margin-bottom-no-img * 0.7;
        @include medium-screen {
          margin-top: - $page-header-h1-margin-bottom-no-img * 0.7 * $medium-screen-ratio-m;
        }
        @include large-screen {
          margin-top: - $page-header-h1-margin-bottom-no-img * 0.7 * $large-screen-ratio-m;
        }
      }

      .byline.author {
        margin-bottom: $page-header-h1-margin-bottom-no-img;
        @include medium-screen {
          margin-bottom: $page-header-h1-margin-bottom-no-img * $medium-screen-ratio-m;
        }
        @include large-screen {
          margin-bottom: $page-header-h1-margin-bottom-no-img * $large-screen-ratio-m;
        }
      }
    }
  }

  .entry-content {
    padding-bottom: $spacer-unit-size;

    @include medium-screen {
      padding-bottom: $spacer-unit-size * $medium-screen-ratio-l;
    }
  }

  .entry-meta {
    position: relative;

    color: lighten($grey-text-color, 25%);
    font-size: 0.8em;

    padding: 0 $spacer-unit-size;

    > span {
      &:after {
        content: "";

        position: absolute;
        left: $spacer-unit-size;
        right: $spacer-unit-size;
        top: 1.7em;
        z-index: -1;

        border-top: 1px solid lighten($grey-text-color, 40%);
      }

      > time,
      > .byline {
        background-color: $background-body-color;

        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      $padding-to-ensure-white-background: 0.4em;

      > time {
        padding-bottom: $padding-to-ensure-white-background;
      }

      > .byline {
        padding-top: $padding-to-ensure-white-background;
        margin-top: - $padding-to-ensure-white-background;
      }
    }

    @include medium-screen {
      width: $medium-content-width;

      padding-left: 0;
      padding-right: 0;
      margin: 0 auto;

      > span:after {
        left: 0;
        right: 0;
      }
    }

    @include large-screen {
      width: $large-content-width-more-readable;
    }
  }
}
