@(i18nMessages: Map[String, String], lang: SupportedLanguage, account: Option[Account], products: List[CruitedProduct], reductions: List[Reduction], order: models.frontend.FrontendOrder)

@main("Cruited - " + i18nMessages("order.payment.title"), "order-step-payment", i18nMessages, lang) {
<!--
    Header
-->
@header(account, i18nMessages)

} {
/*
    Javascript
*/

var PAYMILL_PUBLIC_KEY = "8a8394c43fa91e5f013fb3adc1a51e29";

document.addEventListener("DOMContentLoaded", function() {
    CR.Controllers.CompletePayment(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        @Html(play.api.libs.json.Json.toJson(products).toString()),
        @Html(play.api.libs.json.Json.toJson(reductions).toString()),
        @Html(play.api.libs.json.Json.toJson(order).toString())
    );
});
}
