@(i18nMessages: Map[String, String], lang: SupportedLanguage, account: Option[Account], order: models.frontend.FrontendOrder)

@main("Cruited - " + i18nMessages("order.assessmentInfo.title"), "edit-order", i18nMessages, lang) {
<!--
    Header
-->
@header(account, i18nMessages)

} {
/*
    Javascript
*/
document.addEventListener("DOMContentLoaded", function() {
    CR.Controllers.EditOrder(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        @Html(play.api.libs.json.Json.toJson(order).toString())
    );
});
}
