@(i18nMessages: Map[String, String], account: Option[Account], products: List[CruitedProduct], reductions: List[Reduction], editions: List[Edition])(implicit messages: Messages)

@main("Cruited - " + messages("order.productSelection.title"), "order-step-product-selection") {
<!--
    Header
-->
@header(account)

} {
/*
    Javascript
*/
document.addEventListener("DOMContentLoaded", function() {
    CR.Controllers.OrderStepProductSelection(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        @Html(play.api.libs.json.Json.toJson(products).toString()),
        @Html(play.api.libs.json.Json.toJson(reductions).toString()),
        @Html(play.api.libs.json.Json.toJson(editions).toString())
    );
});
}
