@(i18nMessages: Map[String, String], lang: SupportedLanguage, account: Option[Account], linkedinAuthCodeRequestUrl: String, linkedinProfile: play.api.libs.json.JsValue, linkedinErrorMessage: Option[String])

@main("Cruited - " + i18nMessages("order.assessmentInfo.title"), "order-step-assessment-info", i18nMessages, lang) {
<!--
    Header
-->
@header(account, i18nMessages)

} {
/*
    Javascript
*/
document.addEventListener("DOMContentLoaded", function() {
    var linkedinErrorMessage = null;
    @if(linkedinErrorMessage.isDefined) {
        linkedinErrorMessage = "@linkedinErrorMessage.get";
    }

    var linkedinProfile = @Html(linkedinProfile.toString()) || null;

    var account = null;
    @if(account.isDefined) {
        account = "@account.get";
    }

    CR.Controllers.OrderStepAssessmentInfo(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        "@Html(linkedinAuthCodeRequestUrl)",
        linkedinProfile,
        linkedinErrorMessage,
        account,
        @Html(play.api.libs.json.Json.toJson(account).toString())
    );
});
}
