@(i18nMessages: Map[String, String], account: Option[Account], orderId: Long)(implicit messages: Messages)

@main("Cruited - " + messages("order.payment.title"), "order-step-payment") {
<!--
    Header
-->
@header(account)

} {
/*
    Javascript
*/

var PAYMILL_PUBLIC_KEY = "8a8394c43fa91e5f013fb3adc1a51e29";

document.addEventListener("DOMContentLoaded", function() {
    CR.Controllers.OrderStepPayment(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        @orderId
    );
});
}
