@(firstName: String)
<!DOCTYPE html>
<html>
<body>
    <p>Hi @firstName!</p>

    <p>You received your first assessment a couple days ago, and I hope you had time to take some of the comments into account.</p>

    <p>When you work on your application, you will notice that some of the advice in your review gets fixed pretty quickly, whereas other points require more extensive changes.</p>

    <p><strong>Tackling the hardest point first is not always the best approach</strong></p>

    <p>When it comes to improving your job application I don't really think that "tackling the hardest point first" is the right approach. My advice is that you start with the comments you feel the most for! Then you take care of the major points.</p>

    <p>Don't know where to start? Reply to this email and I'll help!</p>

    <p>Regards,</p>

    <footer>
        Erik Fors-Andrée,<br />
        cruited.com Founder
    </footer>
</body>
</html>
