.btn {
  padding: 0.7em 2em;

  @include transition(all $default-animation-duration ease);
}

.btn-primary {
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
  opacity: 0.9;

  &:active,
  &:focus,
  &:hover,
  &:active:focus {
    background-color: darken($primary-btn-color, 15%);
    border-color: darken($primary-btn-color, 25%);
    opacity: 1;
  }
}

.btn.secondary {
  @include styleless-btn;

  color: $secondary-action-color;
  border: 2px solid $secondary-action-color;

  &:active,
  &:focus,
  &:hover {
    color: $background-body-color;
    background-color: darken($secondary-action-color, 15%);
    border-color: darken($secondary-action-color, 25%);
  }
}
