h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 1.8em;

  font-weight: bold;

  text-align: center;
}

h2 {
  font-size: 1.5em;

  color: $secondary-action-color;
}

.img-bg h2 {
  color: $font-color-inverse;
}

h3 {
  font-size: 1.3em;
}


