.main iframe {
    border: none;
    width: 100%;
    margin-top: 2em;
}

.boka-intervjutraning .main iframe {
    height: 139em;
    @include medium-screen {
        height: 79em;
    }
    @include large-screen {
        height: 78em;
    }
}

.unionen-egen-linkedin .main iframe {
    height: 32em;
    @include medium-screen {
        height: 25em;
    }
}

#ycbmiframecruited {
    width: $small-content-width - 2*$spacer-unit-size;
    @include medium-screen {
        width: 100%;
    }
}
