.main iframe {
    border: none;
    width: 100%;
    margin-top: 2em;
}

.boka-intervjutraning .main iframe {
    height: 139em;
    @include medium-screen {
        height: 79em;
    }
    @include large-screen {
        height: 78em;
    }
}

.unionen-egen-linkedin .main iframe {
    height: 32em;
    @include medium-screen {
        height: 25em;
    }
}

.intervjuforberedelse .main iframe {
    height: 102em;
    @include medium-screen {
        height: 78em;
    }
    @include large-screen {
        height: 77em;
    }
}

.granskning .main iframe {
    height: 38em;
    @include medium-screen {
        height: 23em;
    }
}

.karriarsamtal .main iframe {
    height: 135em;
    @include medium-screen {
        height: 104em;
    }
}

#ycbmiframecruited {
    height: 49em;
    width: $small-content-width - 2*$spacer-unit-size;

    @include medium-screen {
        height: 36em;
        width: 100%;
    }
}
