#dashboard {
  @include new-assessment-btn-in-header-top-margin;

  h2 {
    margin-top: 0;
  }

  .status-and-edition-wrapper {
    display: flex;
    justify-content: space-between;

    @include medium-screen {
      > div:first-child {
        display: flex;
      }
    }
  }

  .btn-primary.btn-xs {
    margin-left: 5.2em;
    @include medium-screen {
      margin-left: 1em;
    }
  }

  .view-report-list {
    margin: 1.8em 0;

    > li {
      background-color: $light-grey;

      padding: 0 $spacer-unit-size;

      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      > span {
        font-weight: bold;
      }

      > button {
        margin: 0.5em 0;
      }
    }
  }

  .sheet-of-paper > .light-font {
    font-size: $font-size-sm;
  }
}

@include no-flexbox {
  #dashboard {
    .status-and-edition-wrapper {
      display: block;
      @include clearfix;

      > div {
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }

      @include medium-screen {
        > div:first-child {
          @include clearfix;

          > div {
            float: left;
          }
        }
      }
    }

    .view-report-list > li {
      display: block;
      @include clearfix;

      $floated-el-width: 50%;
      $floated-el-separator-width: 2%;

      > span,
      > button {
        max-width: $floated-el-width - $floated-el-separator-width / 2;
      }

      > span {
        float: left;
        margin: 0.8em 0;
      }

      > button {
        float: right;

        margin-left: $floated-el-separator-width;
      }
    }
  }
}