#dashboard {
  @include new-assessment-btn-in-header-top-margin;

  h2 {
    margin-top: 0;
  }

  .status-and-edition-wrapper {
    > div:first-child {
      display: flex;
      margin-bottom: $content-element-margin-bottom;
    }

    @include medium-screen {
      display: flex;
      justify-content: space-between;

      > div:first-child {
        margin-bottom: 0;
      }
    }
  }

  .btn-primary.btn-xs {
    margin-left: 1em;
  }

  .view-report-list {
    margin: 1.8em 0;

    > li {
      background-color: $light-grey;

      padding: 0 $spacer-unit-size;

      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }

      > p {
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
      }

      button {
        margin: 0.5em 0;
      }
    }

    @include medium-screen {
      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .sheet-of-paper > .light-font {
    font-size: $font-size-sm;
  }
}

.no-flexbox {
  #dashboard {
    .status-and-edition-wrapper {
      > div:first-child {
        display: block;
        @include clearfix;

        > div {
          float: left;
        }
      }

      @include medium-screen {
        display: block;
        @include clearfix;

        > div {
          float: left;

          &.centered-contents {
            float: right;
          }
        }
      }
    }

    .view-report-list > li {
      @include medium-screen {
        display: block;
        @include clearfix;

        > p {
          float: left;
          margin: 0.8em 0;
        }

        > div {
          float: right;
        }
      }
    }
  }
}
