#dashboard {
  #content > header > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  #new-assessment {
    font-size: $font-size-sm;
    border-radius: 1.3em;

    padding: 0.5em 0.7em;

    margin-top: 4.6em;

    line-height: 1em;
    > span {
      line-height: 1em;
    }

    @include medium-screen {
      // Default
      padding-left: 1em;
      padding-right: 1em;

      margin-top: 3.65em;

      > span {
        margin-right: 1em;
      }
    }

    @include large-screen {
      margin-top: 4.3em;
    }

    > .fa-plus {
      margin-right: 1px;
    }
  }

  .with-circles > ul > li {
    background-color: white;
    @include bottom-shadow;

    margin-bottom: 2em;

    padding: 1.5em $spacer-unit-size;
    @include medium-screen {
      padding-left: 2.8em;
      padding-right: 2.8em;
    }
    @include large-screen {
      padding-left: 5em;
      padding-right: 5em;
    }

    > h2 {
      margin-top: 0;
    }
  }

  .status-and-edition-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .btn-primary.btn-xs {
    margin-left: 1em;
  }

  .view-report-list {
    margin: 1.8em 0;

    > li {
      background-color: $light-grey;

      padding: 0 $spacer-unit-size;

      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      > span {
        font-weight: bold;
      }

      > button {
        margin: 0.5em 0;
      }
    }
  }
}

@include no-flexbox {
  #dashboard {
    #content > header > div {
      display: block;
      @include clearfix;

      > h1 {
        float: left;
      }

      > .btn {
        float: right;
      }
    }

    .status-and-edition-wrapper {
      display: block;
      @include clearfix;

      > div {
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }

    .view-report-list > li {
      display: block;
      @include clearfix;

      $floated-el-width: 50%;
      $floated-el-separator-width: 2%;

      > span,
      > button {
        max-width: $floated-el-width - $floated-el-separator-width / 2;
      }

      > span {
        float: left;
        margin: 0.8em 0;
      }

      > button {
        float: right;

        margin-left: $floated-el-separator-width;
      }
    }
  }
}