// To have the footer always at the bottom
html,
body {
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative; // Because of absolutely-positioning footer
}

[role="main"] {
  // TODO padding-bottom: $footer-height;
}

footer {
}
