#order-step-assessment-info {
  #linkedin-profile-form-group {
    img {
      margin-right: 0.5em;
    }
  }

  .sign-in-with-linkedin {
    padding-left: 22px;
    @include medium-screen {
      padding-left: 41px;
    }
  }

  #not-signed-in-with-linkedin {
    margin-left: 0;
  }
}
