#sign-in {
  .sign-in-with-linkedin {
    padding-left: 22px;
    @include medium-screen {
      padding-left: 41px;
      padding-top: 0.4em;
    }
    @include large-screen {
      padding-top: 0.05em;
    }
  }

  .form-group:nth-child(2) {
    margin-bottom: 0;
  }

  #invalid-credentials {
    margin-top: $content-element-margin-bottom;
  }
}
