@(isSignedIn: Boolean, pageId: String)(implicit messages: Messages)

<div id="small-medium-screen-menu" class="container">
    <div>
        <div>
            <a class="brand" href="/">Cruited</a>
            <button class="styleless"></button>
        </div>
    </div>

    <nav role="navigation">
        <div>
            <!-- TODO ul class="links-to-wp-site">
                <li><a href="https://cruited.com/vara-tjanster/">Våra tjänster</a></li>
                <li><a href="https://cruited.com/var-metod/">Vår metod</a></li>
                <li><a href="https://cruited.com/om-cruited/">Om Cruited</a></li>
            </ul -->

            <div class="other-nav-ux">
                @if(isSignedIn) {
                <a href="/logout">@Messages("signOut")</a>
                } else {
                <a href="/login">@Messages("signIn")</a>
                }
            </div>
        </div>
    </nav>
</div>

<div id="large-screen-menu" class="container">
    <div>
        <a class="brand" href="/">Cruited</a>

        <nav role="navigation">
            <div>
                <!-- TODO ul class="links-to-wp-site">
                    <li><a href="https://cruited.com/vara-tjanster/">Våra tjänster</a></li>
                    <li><a href="https://cruited.com/var-metod/">Vår metod</a></li>
                    <li><a href="https://cruited.com/om-cruited/">Om Cruited</a></li>
                </ul -->

                <div class="other-nav-ux">
                    @if(isSignedIn) {
                    <a href="/logout">@Messages("signOut")</a>
                    } else {
                    <a href="/login">@Messages("signIn")</a>
                    }
                </div>
            </div>
        </nav>
    </div>
</div>
