@(accountOpt: Option[Account], i18nMessages: Map[String, String])

<nav id="header-nav">
    <a href="/" class="fa fa-home"></a>
    <a href="https://www.cruited.com" class="brand">Cruited</a>
    @if(accountOpt.isDefined && accountOpt.get.id > 0) {
        @defining(accountOpt.get) { account =>
            <article>
                <span>@account.firstName</span>
                @if(account.linkedinProfile != play.api.libs.json.JsNull) {
                    @defining((account.linkedinProfile \ "pictureUrl").asOpt[String]) { pictureUrlOpt =>
                        <div class="profile-picture" style="background-image: url(@pictureUrlOpt)"></div>
                    }
                } else {
                    <button class="styleless fa fa-bars"></button>
                }
            </article>
        }
    } else {
        <a href="/login"><i class="fa fa-sign-in"></i>@i18nMessages("menu.signIn")</a>
    }
</nav>
<div id="menu">
    <nav>
        <a href="/my-account"><i class="fa fa-user"></i>@i18nMessages("menu.myAccount")</a>
        <a href="/logout"><i class="fa fa-sign-out"></i>@i18nMessages("menu.signOut")</a>
    </nav>
</div>
<div id="content-overlay-when-menu-open"></div>
