@()(implicit messages: Messages)

@main("Cruited", "index") {
<!--
    Header
-->
@header("index")

} {
<!--
    Content
-->
<div class="centered-contents">
    <h1>@Messages("home.title")</h1>
    <h2>@Html(Messages("home.subtitle"))</h2>
    <button class="btn btn-primary" id="hero-call-to-action-btn">@Messages("home.hero.callToActionBtn")</button>
    <span>@Messages("home.moneyBackGuarantee")*</span>
</div>
} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        CR.indexController = CR.Controllers.Index();
    });
</script>
}
