@(i18nMessages: Map[String, String], lang: SupportedLanguage, account: Account, isSaveSuccessful: Boolean, supportedLanguages: List[SupportedLanguage])

@main("Cruited - " + i18nMessages("myAccount.title"), "my-account", i18nMessages, lang) {
<!--
    Header
-->
@header(Some(account), i18nMessages)

} {
/*
    Javascript
*/
document.addEventListener("DOMContentLoaded", function () {
    CR.Controllers.MyAccount(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        @Html(play.api.libs.json.Json.toJson(account).toString()),
        @isSaveSuccessful.toString,
        @Html(play.api.libs.json.Json.toJson(supportedLanguages).toString())
    );
});
}
