@(i18nMessages: Map[String, String], headerData: HeaderData, products: List[CruitedProduct], reductions: List[Reduction], editions: List[Edition])(implicit messages: Messages)

@main("Cruited", "order-step-1") {
<!--
    Header
-->
@header(headerData, "order-step-1")

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        CR.Controllers.ProductSelection(
            @Html(play.api.libs.json.Json.toJson(i18nMessages).toString),
            @Html(play.api.libs.json.Json.toJson(products).toString),
            @Html(play.api.libs.json.Json.toJson(reductions).toString),
            @Html(play.api.libs.json.Json.toJson(editions).toString)
        );
    });
</script>
}
