@(i18nMessages: Map[String, String], account: Option[Account], linkedinAuthCodeRequestUrl: String, linkedinProfile: play.api.libs.json.JsValue, linkedinErrorMessage: Option[String])(implicit messages: Messages)

@main("Cruited - " + messages("order.accountCreation.title"), "order-step-account-creation") {
<!--
    Header
-->
@header(account)

} {
/*
    Javascript
*/
document.addEventListener("DOMContentLoaded", function() {
    var linkedinErrorMessage = null;
    @if(linkedinErrorMessage.isDefined) {
        linkedinErrorMessage = "@Html(linkedinErrorMessage.get)";
    }

    var linkedinProfile = @Html(linkedinProfile.toString()) || null;

    CR.Controllers.OrderStepAccountCreation(
        @Html(play.api.libs.json.Json.toJson(i18nMessages).toString()),
        "@Html(linkedinAuthCodeRequestUrl)",
        linkedinProfile,
        linkedinErrorMessage
    );
});
}
