@(i18nMessages: Map[String, String], headerData: HeaderData, linkedinAuthCodeRequestUrl: String, linkedinProfile: play.api.libs.json.JsValue, linkedinErrorMessage: Option[String])(implicit messages: Messages)

@main("Cruited", "order-step-2") {
<!--
    Header
-->
@header(headerData, "order-step-2")

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var linkedinErrorMessage = null;
        @if(linkedinErrorMessage.isDefined) {
            linkedinErrorMessage = "@Html(linkedinErrorMessage.get)";
        }

        var linkedinProfile = @Html(linkedinProfile.toString.replaceAll("\\\\n", " ")) || null; // Because there is a problem when JSON.parse()ing the new lines contained in the summary

        CR.Controllers.OrderStep2(
            @Html(play.api.libs.json.Json.toJson(i18nMessages).toString),
            "@Html(linkedinAuthCodeRequestUrl)",
            linkedinProfile,
            linkedinErrorMessage
        );
    });
</script>
}
