@(i18nMessages: Map[String, String], headerData: HeaderData, products: List[CruitedProduct])

@main("Cruited", "product-selection") {
<!--
    Header
-->
@header(headerData, "product-selection")

} {
<!--
    Javascript
-->
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        CR.Controllers.ProductSelection(
            @Html(play.api.libs.json.Json.toJson(i18nMessages).toString),
            @Html(play.api.libs.json.Json.toJson(products).toString)
        );
    });
</script>
}
