{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-empty-line-before": null,
        "declaration-empty-line-before": null,
        "rule-nested-empty-line-before": null,
        "declaration-block-no-redundant-longhand-properties": null,
        "max-empty-lines": 2,
        "max-nesting-depth": 3
    }
}
